html {
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
}

body,
body * {
  border: 0;
  font: 100%/1.5 Arial, sans-serif;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

#container-dc {
  background-color: #fff;
  border: 1px solid #666;
  box-sizing: border-box;
  height: 250px;
  left: 0;
  margin: auto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 300px;
}

#content-ad {
  background: #fff;
  height: 250px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 300px;
  z-index: 100;
}

#background-exit {
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 400;
}

img {
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

#copy1 {
  left: -162px;
}

#wrapper-band {
  height: 250px;
  left: 300px;
  overflow: hidden;
  position: absolute;
  width: 138px;
}

.band {
  left: -300px;
  transform-origin: 50% 50%;
}

#person {
  transform-origin: 50% 50%;
}

#pink-band {
  background: #e76698;
  height: 250px;
  position: absolute;
  width: 300px;
}

#white-band {
  background: #fff;
  bottom: 0;
  height: 59px;
  left: 0;
  position: absolute;
  width: 300px;
}

#logo-bottom {
  z-index: 2;
}

.description {
  position: absolute;
  width: 300px;
  height: 250px;
  z-index: 700;
  box-sizing: border-box;
  padding: 1.5em;
  background: linear-gradient(45deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.90) 85%, rgba(0,0,0,0.35) 85%, rgba(0,0,0,0.35) 100%);
  color: #fff;
  cursor: pointer;
  opacity: 0;
}
.description-body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  width: 80%;
  font-size: 1em
}
.description .fa {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1.5em;
}