/**
 * isiSetup - An HTML banner
 * @version v1.0.0
 * @date 11-23-2016 at 15:21:36
 */
html{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;text-rendering:optimizeLegibility}body,body *{vertical-align:baseline;border:0;outline:0;padding:0;margin:0;font:100%/1.5 Arial, sans-serif}#container_ad{-ms-transform-origin:0% 0%;-webkit-transform-origin:0% 0%;-moz-transform-origin:0% 0%;-o-transform-origin:0% 0%;position:absolute;width:298px;height:248px;overflow:hidden;border:1px solid #666;top:0;left:0;margin:auto;opacity:0}#content_ad{position:absolute;width:100%;height:100%;top:0px;left:0px;z-index:100;background:#fff}#background_exit_ad{background:url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;position:absolute;width:100%;height:100%;top:0px;left:0px;cursor:pointer;z-index:400}:focus{outline:none}::-moz-focus-inner{border:0}#background{width:100%;height:100%}#girl,#background-girl{position:absolute;left:0;top:0;width:100%;height:100%}#circles{position:absolute;width:600px;height:600px;left:-109px;top:-177px;opacity:0;-ms-transform:scale(0.395, 0.415);-webkit-transform:scale(0.395, 0.415);transform:scale(0.395, 0.415)}#circles #circle-1{position:absolute;background:#fdbb30;width:100%;height:100%;border-radius:50%}#circles #circle-2{position:absolute;background:#fdbb30;width:151px;height:164px;bottom:9px;left:76px;border-radius:56px;-ms-transform:rotate(97deg);-webkit-transform:rotate(97deg);transform:rotate(97deg)}#circle-ish{position:absolute;width:100%;height:100%;opacity:0.73;top:0;left:0}.spritesheet{position:absolute;left:-1px;width:100%;background:url(spritesheet.png) no-repeat;background-size:300px 325px}#text1{height:70px;top:87px;opacity:0}#text2{background-position:1px -73px;height:70px;top:87px;opacity:0}#text3{background-position:0 -146px;height:140px;top:34px;opacity:0}#cta{background-position:-176px -290px;height:34px;top:202px;left:174px;opacity:0}#shine-wrapper{position:absolute;top:207px;left:191px;width:126px;height:25px;overflow:hidden;opacity:0;-ms-transform:skewX(-18deg);-webkit-transform:skewX(-18deg);transform:skewX(-18deg)}#shine-wrapper #shine{position:absolute;top:1px;left:-120px;width:150px;height:25px;opacity:0.9;-ms-transform:skewX(18deg);-webkit-transform:skewX(18deg);transform:skewX(18deg)}#logo{position:absolute;left:13px;top:200px;width:81px;height:32px;opacity:0}
.description {
  position: absolute;
  width: 300px;
  height: 250px;
  z-index: 700;
  box-sizing: border-box;
  padding: 1.5em;
  background: linear-gradient(45deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.90) 85%, rgba(0,0,0,0.35) 85%, rgba(0,0,0,0.35) 100%);
  color: #fff;
  cursor: pointer;
  opacity: 0;
}
.description-body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  width: 80%;
  font-size: 1em
}
.description .fa {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1.5em;
}