/**
 * volvotest - An HTML banner
 * @version v1.0.0
 * @date 8-29-2017 at 16:30:44
 */
html{-webkit-tap-highlight-color:transparent;text-rendering:optimizeLegibility;-webkit-touch-callout:none}body,body *{border:0;font:100%/1.5 Arial, sans-serif;margin:0;outline:0;padding:0;vertical-align:baseline}#container-dc{background-color:#fff;border:1px solid #666;box-sizing:border-box;height:250px;left:0;margin:auto;opacity:0;overflow:hidden;position:absolute;top:0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;-o-transform-origin:0 0;-webkit-transform-origin:0 0;width:300px}#content-ad{background:#f1f2f2;height:250px;left:-1px;position:absolute;top:-1px;width:300px;z-index:100}#background-exit-dc{background:url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;cursor:pointer;height:100%;left:0;position:absolute;top:0;width:100%;z-index:400}.default,#frm1-img1,#frm2-img1,#frm2-logo1,#frm2-copy1,#frm2-copy2,#frm2-cta1,#frm2-cta2{left:0;position:absolute;top:0}.right,#frm2-copy1,#frm2-copy2,#frm2-cta1,#frm2-cta2{left:auto;right:63px}.center{display:block;height:100%;margin:0 auto;position:relative}#frm1-img1{height:172px;width:340px}#frm2-img1{height:172px;width:100%}#frm2-logo1{height:37px;left:auto;right:14px;top:186px;visibility:hidden;width:37px}#frm1-copy1{height:18px;width:155px;top:202px;visibility:hidden}#frm1-copy2{height:39px;width:206px;top:174px;visibility:hidden}#frm2-copy1{height:14px;width:116px;top:187px;visibility:hidden}#frm2-copy2{height:7px;width:90px;top:204px;visibility:hidden}#frm2-cta1,#frm2-cta2{height:16px;width:70px;background-color:#f1f2f2;top:222px;visibility:hidden}
.description {
  position: absolute;
  width: 300px;
  height: 250px;
  z-index: 700;
  box-sizing: border-box;
  padding: 1.5em;
  background: linear-gradient(45deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.90) 85%, rgba(0,0,0,0.35) 85%, rgba(0,0,0,0.35) 100%);
  color: #fff;
  cursor: pointer;
  opacity: 0;
}
.description-body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  width: 80%;
  font-size: 1em
}
.description .fa {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1.5em;
}