$bg: linear-gradient(0deg, #0c0032 5%, black 100%);
$bgArrow: #0c0032;
$highlighted: #3500d3;

.App {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: white;
  font-family: Montserrat, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, Helvetica, sans-serif;
}

.highlight {
  color: $highlighted;
}

.main {
  position: relative;
  overflow-x: hidden;
}

.main-header {
  $color: #fff;
  $bg: linear-gradient(0deg, transparent 0%, black 57%);
  width: 100vw;
  overflow-x: hidden;
  background: $bg;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  padding-bottom: 0.75em;

  .navbar {
    list-style: none;
    color: $color;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;

    li {
      margin: 10px 20px;

      a {
        text-decoration: none;
        color: #fff;

        &:focus {
          color: $highlighted;
        }
      }
    }
  }
}

.section {
  $shadowUnit: 0.25vh;

  h2 {
    font-size: 2em;
    margin-bottom: 1.4em;
  }

  p {
    line-height: 1.6em;
  }
  
  position: relative;
  min-height: 80vh;
  box-shadow: 0 3 * $shadowUnit 4 * $shadowUnit rgba(0, 0, 0, 0.375);
  color: #fff;
  z-index: 4;

  &::before {
    $size: 4vw;
    position: absolute;
    content: '';
    width: 2 * $size;
    height: 2 * $size;
    left: 50vw - $size;
    bottom: $size * -0.95;
    background: $bgArrow;
    transform: rotateX(60deg) rotateZ(45deg);
    box-shadow: 4 * $shadowUnit 4 * $shadowUnit 7 * $shadowUnit rgba(0, 0, 0, 0.375);
    z-index: -2;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $bg;
    z-index: -1;
  }

  @media screen and (max-aspect-ratio: 100/101) {
    &::before {
      $size: 20vw;
      width: 2 * $size;
      height: 2 * $size;
      left: 50vw - $size;
      bottom: $size * -0.95;
    }
  }

  @media screen and (min-aspect-ratio: 30/41) and (max-aspect-ratio: 100/101) {
    &::before {
      $size: 10vw;
      width: 2 * $size;
      height: 2 * $size;
      left: 50vw - $size;
      bottom: $size * -0.95;
      box-shadow: 4 * $shadowUnit 4 * $shadowUnit 7 * $shadowUnit rgba(0, 0, 0, 0.375);
    }
  }
}

.hero {
  $color: #fff;
  height: 85vh;
  z-index: 4;

  @media screen and (max-aspect-ratio: 100/101) {
    height: 80vh;
  }

  .brand {
    text-decoration: none;
    white-space: nowrap;
    color: $color;
  }

  &__title {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12.5vmin;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media screen and (max-aspect-ratio: 100/101) {
      top: 45%;
      font-size: 11.5vmin;
    }

    @media screen and (min-aspect-ratio: 30/41) and (max-aspect-ratio: 100/101) {
      font-size: 8vmin;
    }

    @media screen and (max-aspect-ratio: 41/30) and (min-aspect-ratio: 101/100) {
      font-size: 10.5vmin;
    }

    span {
      line-height: 1.25em;
      color: $color;
    }

    .block {
      display: block;
    }

    .font--regular {
      font-size: 1em;

      @media screen and (max-aspect-ratio: 100/101) {
        font-size: 1.69em;
      }
    }

    .font--small {
      font-size: 0.75em;
    }

    .font--tiny {
      font-size: 0.5em;
    }

    .left {
      text-align: left;

      &--overflow {
        margin-left: -27vmin;

        @media screen and (max-aspect-ratio: 100/101) {
          margin-left: -24.75vmin;
        }

        @media screen and (min-aspect-ratio: 30/41) and (max-aspect-ratio: 100/101) {
          margin-left: -17.25vmin;
        }

        @media screen and (max-aspect-ratio: 41/30) and (min-aspect-ratio: 101/100) {
          margin-left: -22.75vmin;
        }
      }
    }

    .right {
      text-align: right;

      &--overflow {
        margin-right: -22.75vmin;

        @media screen and (max-aspect-ratio: 100/101) {
          margin-right: -21vmin;
        }

        @media screen and (min-aspect-ratio: 30/41) and (max-aspect-ratio: 100/101) {
          margin-right: -14.5vmin;
        }

        @media screen and (max-aspect-ratio: 41/30) and (min-aspect-ratio: 101/100) {
          margin-right: -19.25vmin;
        }
      }
    }

    &__block {
      width: 98vmin;

      @media screen and (max-aspect-ratio: 100/101) {
        display: block;
        width: 80%;
        max-width: 100%;
        text-align: right;
        margin: 0;
        padding: 0 0 0 6.5%;
      }
      
      @media screen and (min-aspect-ratio: 30/41) and (max-aspect-ratio: 100/101) {
        width: 55.75%;
        padding: 0 0 0 20.5%;
      }

      @media screen and (max-aspect-ratio: 41/30) and (min-aspect-ratio: 101/100) {
        width: 44.5%;
      }
    }

    .hero__title--highlight {
      font-size: inherit;
      color: $highlighted;
    }
  }
}

.section--second {
  $bg: #282828;
  $shadowUnit: 0.25vh;
  background: $bg;
  z-index: 3;

  box-shadow: inset 0 -3 * $shadowUnit 4 * $shadowUnit rgba(0, 0, 0, 0.25) !important;
  
  &::before {
    background: $bg;
    box-shadow: inset -4 * $shadowUnit -4 * $shadowUnit 7 * $shadowUnit rgba(0, 0, 0, 0.25) !important;
  }
  
  &::after {
    background: none;
  }
}

.section--third {
  z-index: 2;

  &::after {
    background: linear-gradient(0deg, #190061 5%, #0c0032 100%);
  }

  &::before {
    background: #190061;
  }
}

.footer {
  position: relative;
  min-height: 20vh;
  background: #C9C8D0;
  z-index: 1;
}

.handwritten {
  font-family: 'Nanum Pen Script', cursive;
}

.container {
  margin: 0 auto;
  padding: 2.5em 0 4em;
  width: 92%;
  max-width: 1200px;

  @media screen and (max-aspect-ratio: 100/101) {
    padding: 4em 0 6em;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    line-height: 2.8em;
  }

  p {
    line-height: 2.1em;
    margin: 1.4em auto;
  }

  .art-direction {
    position: relative;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background: black;
    padding: 0.5em 0;
    box-sizing: border-box;
    
    img {
      position: relative;
      width: 100%;
    }
    
    figcaption {
      margin: 0.75em auto 0.5em;
      max-width: 800px;
      width: 90%;
      font-size: 0.75em;
      line-height: 1.4em;

      a {
        text-decoration: none;
      }
    }

    @media screen and (max-aspect-ratio: 100/101) {
      height: 18.5em;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;

      img {
        height: 15em;
        width: 31.35em;
      }

      figcaption {
        height: 3.5em;
      }
    }

    @media screen and (min-aspect-ratio: 30/41) and (max-aspect-ratio: 100/101) {
      height: auto;

      img {
        height: auto;
        width: 100%;
      }
    }

    @media screen and (max-aspect-ratio: 41/30) and (min-aspect-ratio: 101/100) {
      height: auto;

      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

.row {
  padding: 0 0 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

[class^=col] {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 99;
}

.col-4 {
  width: calc(100%/3);
}

.col-6 {
  width: calc(100%/2);
}

.col-12 {
  width: 100%;
}

.col-order-1 {
  order: 1;
}

@media screen and (max-aspect-ratio: 100/101) {
  .col-sm-4 {
    width: calc(100%/3);
  }

  .col-sm-6 {
    width: calc(100%/2);
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-order-1 {
    order: 1;
  }
}

.responsive-image {
  width: 100%;
  height: auto;
}

.statistics {
  position: relative;
  text-align: center;
  margin: 2em 0;
  font-family: Oswald, Helvetica, sans-serif;
  text-transform: uppercase;

  sup {
    font-weight: 700;
    font-size: 0.5em;
    position: relative;
    left: 0.05em;
    width: 0;
  }

  .large {
    font-size: 3em;
    font-weight: 700;
    margin-right: -0.15em;
    line-height: 1.4em;
  }

  &--large {
    font-size: 1.5em;

    .large {
      line-height: 1em;
    }
  }

  @media screen and (max-aspect-ratio: 100/101) {
    &--large {
      font-size: 1.25em;
  
      .large {
        line-height: 1em;
      }
    }
    
    &-2 {
      margin-top: -2em;
    }
  
    &-1,
    &-3 {
      margin-top: 5em;
    }
  
    &-4 {
      margin-top: -3em;
    }
  }

  @media screen and (max-aspect-ratio: 30/41) {
    &-1 {
      margin-top: 5em;
      margin-left: -1em;
    }

    &-3 {
      margin-top: 4em;
      margin-left: -1em;
    }

    &-2 {
      margin-top: -6em;
      margin-right: 0;
    }

    &-4 {
      margin-top: -10em;
      margin-right: -1em;
    }
  }
}
