.App {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: #ddd;
  font-family: Oswald, sans-serif;
}

.main {
  overflow: visible;
  z-index: 1;
  
  section {
    position: relative;
  }
}

.main-header {
  $color: #fff;
  $bg: rgba(0, 0, 20, 0.5);
  width: 100vw;
  overflow: scroll;

  background: $bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;

  position: fixed;
  z-index: 1;

  .navbar {
    list-style: none;
    color: $color;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;

    li {
      margin: 10px 20px;
    }
  }
}

.hero {
  $color: #fff;
  $highlighted: yellow;
  $bg: #190f2e;

  .brand {
    text-decoration: none;
    white-space: nowrap;
    color: $color;
  }

  background: $bg;
  height: 90vh;
  overflow-x: hidden;

  &__title {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12.5vmin;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media screen and (max-aspect-ratio: 100/101) {
      top: 42.5%;
    }

    span {
      line-height: 1.25em;
      color: $color;
    }

    .block {
      display: block;
    }

    .font--regular {
      font-size: 1em;

      @media screen and (max-aspect-ratio: 100/101) {
        font-size: 1.69em;
      }
    }

    .font--small {
      font-size: 0.75em;
    }

    .font--tiny {
      font-size: 0.5em;
    }

    .left {
      text-align: left;

      &--overflow {
        margin-left: -27vmin;
      }
    }

    .right {
      text-align: right;

      &--overflow {
        margin-right: -22.75vmin;
      }
    }

    &__block {
      width: 98vmin;

      @media screen and (max-aspect-ratio: 100/101) {
        display: block;
        width: 87%;
        max-width: 100%;
        text-align: right;
        margin: 0;
        padding: 0;
      }
    }

    .hero__title--highlight {
      font-size: inherit;
      color: $highlighted;
    }
  }
}

