$border-color-light: rgba(20, 25, 20, 0.75);
$border: 1px dashed rgb(233, 113, 0);
$fang-color: #050505; // linear-gradient(3deg, #050505 0%, #151815 30%, #050505 80%);

$body-color: #150f10; // linear-gradient(0, #150f10 0%, #1e101e 35%, #1e101e 50%, #201520 100%);
$patella-color: #1e101e; // linear-gradient(7deg, #1e101e 0%, #201520 40%, #393039 65%, #393039 75%, #201520 90%, #1e101e 100%);
$tibia-color: #1e101e; // linear-gradient(3deg, #1e101e 0%, #393039 55%, #201520 70%, #201520 80%, #393039 95%);
$meta-color: #393039; // linear-gradient(95deg, #393039 0%, #1e101e 100%);
$chelicerae-color: #150f10; // linear-gradient(20deg, #150f10 0%, #1e101e 40%, #201520 100%);

$cephalo-color: #8084a8; // linear-gradient(20deg, #8084a8 30%, #8084a8 60%, #a89B8B 100%);

$body-angle: 0;

// $primary-c1: rgb(10, 115, 156);
// $primary-c2: rgb(17, 92, 136);
// $primary-c3: rgb(13, 51, 105);
// $primary-c4: rgb(19, 44, 102);
// $primary-c5: rgb(9, 25, 73);
// $primary-c6: rgb(10, 24, 49);
// $primary-c7: rgb(8, 20, 43);
// $primary-c8: #030c14;

$blue: #20009290;
$blue: #000032b0;

$primary-c1: rgb(60, 84, 109);
$primary-c2: rgb(72, 78, 86);
$primary-c3: rgb(31, 31, 55);
$primary-c4: rgb(24, 24, 52);
$primary-c5: rgb(5, 5, 23);
$primary-c6: rgb(4, 4, 9);
$primary-c7: rgb(0, 0, 3);
$primary-c8: #030c14;

$border: 1px dashed white;

$secondary-c1: rgb(140, 138, 138);
$secondary-c2: rgb(241, 92, 33);
$secondary-c3: rgb(219, 96, 25);
$secondary-c4: rgb(201, 83, 15);
$secondary-c5: rgb(167, 65, 6);
$secondary-c6: rgb(101, 32, 0);
$secondary-c7: rgb(90, 41, 0);
$secondary-c8: #231106;

$metalBgPrimary: $primary-c1; //radial-gradient(circle at 25% -10%, $primary-c1 10%, $primary-c3 35%, $primary-c5 45%, $primary-c5 62.5%, $primary-c6 85%, $primary-c7 100%) !important;
$metalShadowPrimary: none; // inset -3em -4.5em 0.75em -5.125em $primary-c1, inset -4.625em -2.75em 1.5em -5.125em $primary-c1, inset -4.625em -2.75em 0.5em -5em $primary-c2, inset -3em -4.5em 2.5em -5em $primary-c2, inset 2em -2.5em 0.75em -3em $primary-c2, inset -0.125em -0.175em 0.125em -0.125em $primary-c2, inset 0 -0.0525em 0.25em -0.0125em $primary-c2, inset -2em -5.25em 2.25em -5em $primary-c8, inset -3.8em -2.75em 1.5em -4em $primary-c8, inset 1.875em -2.375em 1em -2.5em $primary-c8, inset -2em 2.25em 1.25em -2.875em $primary-c8, inset 1.875em 3em 1.25em -3.25em $primary-c6, inset -1.125em 2.125em 0.75em -2.5em $primary-c6,
// 0.075em 0.175em 0.2em 0.0125em rgba(0, 0, 0, 0.75), 0.125em 0.1em 0.75em 0.175em rgba(0, 0, 0, 0.35), 0.5em 0.5em 1em 0.25em rgba(0, 0, 0, 0.25), -0.25em 0.5em 1.5em 0.5em rgba(0, 0, 0, 0.1), 0 0 3.5em rgba(238,162,66, 0.125), 0.125em 0.125em 0.25em -0.05em rgba(238,162,66, 0.75), 0.125em 0.125em 0.75em 0.125em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.5em -0.05em rgba(238,162,66, 0.25) !important;
$metalBgSecondary: $secondary-c1; // radial-gradient(circle at 25% -10%, $secondary-c1 10%, $secondary-c2 35%, $secondary-c3 45%, $secondary-c3 62.5%, $secondary-c6 85%, $secondary-c7 100%) !important;
$metalShadowSecondary: none; // inset -3em -4.5em 0.75em -5.125em $secondary-c1, inset -4.625em -2.75em 1.5em -5.125em $secondary-c1, inset -4.625em -2.75em 0.5em -5em $secondary-c2, inset -3em -4.5em 2.5em -5em $secondary-c2, inset 2em -2.5em 0.75em -3em $secondary-c2, inset -0.125em -0.175em 0.125em -0.125em $secondary-c2, inset 0 -0.0525em 0.25em -0.0125em $secondary-c2, inset -2em -5.25em 2.25em -5em $secondary-c8, inset -3.8em -2.75em 1.5em -4em $secondary-c8, inset 1.875em -2.375em 1em -2.5em $secondary-c8, inset -2em 2.25em 1.25em -2.875em $secondary-c8, inset 1.875em 3em 1.25em -3.25em $secondary-c6, inset -1.125em 2.125em 0.75em -2.5em $secondary-c6,
// 0.075em 0.175em 0.2em 0.0125em rgba(0, 0, 0, 0.75), 0.125em 0.1em 0.75em 0.175em rgba(0, 0, 0, 0.35), 0.5em 0.5em 1em 0.25em rgba(0, 0, 0, 0.25), -0.25em 0.5em 1.5em 0.5em rgba(0, 0, 0, 0.1), 0 0 3.5em rgba(238,162,66, 0.125), 0.125em 0.125em 0.25em -0.05em rgba(238,162,66, 0.75), 0.125em 0.125em 0.75em 0.125em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.5em -0.05em rgba(238,162,66, 0.25) !important;

$leg-color: $primary-c8; // radial-gradient(circle at 0 0, $primary-c8 0%, $primary-c5 65%, $primary-c1 100%);
$patella-color: $leg-color; // linear-gradient(7deg, $primary-c2 0%, $primary-c3 40%, $primary-c5 65%, $primary-c7 75%, $primary-c4 90%, $primary-c1 100%);
$tibia-color: $patella-color;
$body-shadow: none; // inset 4px 3px 7px -1px rgba(255, 116, 24, 0.625), inset -4px -3px 11px 3px rgba(0, 0, 0, 0.75), inset 3px 2px 7px rgba(33, 71, 141, 0.25), 0 0 4px rgba(101, 143, 210, 0.5);

.tarantula {
  position: relative;
  width: 53.52vw; // 950px; // 66.9vw; // 40vw; // 
  height: 40vw; // 710px; // 24.5vw; // 29.9vw; // 
  left: 17.5vw; // 17.5vw; // -50vw; // 
  top: 5.5vw; // 2.5vw;
  font-size: 0.78vw; // 0.39vw; // 0.975vw; // 0.58vw; // 
  box-sizing: border-box;
  // transform: translateX(26%); // distance of each walk motion
  // overflow: hidden;

  * {
    box-sizing: border-box;
    position: absolute;
  }
}

.x-body {
  left: 42.75%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: rotate(0);
  transform: rotate($body-angle + 0deg);
  transform-origin: 7.5% 8%;

  &::after,
  *::after {
    // transform-origin
    // content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    background: blue;
    border: 1px solid white;
    border-radius: 50%;
    left: calc(5% + 1px);
    opacity: 0.5;
    top: calc(50% + 1px);
    transform: translate(-50%, -50%);
  }

  &::after {
    top: 32%;
    left: 10.5%;
  }
}

.x-body-part {
    border: $border;
    transform-origin: 5% 50%;
    background: $metalBgPrimary;
    box-shadow: $metalShadowPrimary;

  &.x-abdomen {
    left: -120.75%;
    top: -36.45%;
    width: calc(20.4em + 2px);
    height: calc(14.4em + 2px);
    border-radius: 60% 50% 35% 50%;
    transform-origin: 97.5% 60.5%;
    transform: rotate(10deg);
    z-index: 1;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background: $metalBgPrimary;
      // background-image: radial-gradient(circle at 45% 135%,
      //   transparent 5%,
      //   #a0400060 7.5%,
      //   transparent 10%,
      //   transparent 15%,
      //   #a0400060 17.5%,
      //   transparent 20%,
      //   transparent 25%,
      //   #a0400060 27.5%,
      //   transparent 30%,
      //   transparent 35%,
      //   #a0400060 37.5%,
      //   transparent 40%,
      //   transparent 45%,
      //   #a0400060 47.5%,
      //   transparent 50%,
      //   transparent 55%,
      //   #a0400060 57.5%,
      //   transparent 60%,
      //   transparent 65%,
      //   #a0400060 67.5%,
      //   transparent 70%,
      //   transparent 75%,
      //   #a0400060 77.5%,
      //   transparent 80%,
      //   transparent 85%,
      //   #a0400060 87.5%,
      //   transparent 90%,
      //   transparent 95%,
      //   #a0400060 97.5%,
      //   transparent 100%
      // ), radial-gradient(ellipse at 52.5% 57.5%,
      //   transparent 5%,
      //   $blue 7.5%,
      //   transparent 15%,
      //   $blue 17.5%,
      //   transparent 25%,
      //   $blue 27.5%,
      //   transparent 35%,
      //   $blue 37.5%,
      //   transparent 45%,
      //   $blue 47.5%,
      //   transparent 55%,
      //   $blue 57.5%,
      //   transparent 65%,
      //   $blue 67.5%,
      //   transparent 75%,
      //   $blue 77.5%,
      //   transparent 85%,
      //   $blue 87.5%,
      //   transparent 95%,
      //   $blue 97.5%,
      //   transparent 100%
      // ), radial-gradient(circle at 115% 65%,
      //   transparent 5%,
      //   #a04000b0 7.5%,
      //   transparent 15%,
      //   #a04000b0 17.5%,
      //   transparent 25%,
      //   #a04000b0 27.5%,
      //   transparent 35%,
      //   #a04000b0 37.5%,
      //   transparent 45%,
      //   #a04000b0 47.5%,
      //   transparent 55%,
      //   #a04000b0 57.5%,
      //   transparent 65%,
      //   #a04000b0 67.5%,
      //   transparent 75%,
      //   #a04000b0 77.5%,
      //   transparent 85%,
      //   #a04000b0 87.5%,
      //   transparent 95%,
      //   #a04000b0 97.5%,
      //   transparent 100%
      // );
      // box-shadow: inset -2px -8px 10px -10px rgba(255, 93, 18, 1), inset 1px 3px 25px -3px rgba(255, 93, 18, 1), inset -5px -17px 25px 5px rgb(2, 13, 34), 3px -2px 12px rgba(255, 93, 18, 1);
      z-index: 2;
    }

    &::after {
      left: 97.5%;
      top: 60.5%;
    }
  }

  &.x-cephalothorax {
    transform: rotate(0);
    width: calc(16em + 2px);
    height: calc(8.88em + 2px);
    border-radius: 20%;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 30%;
    background: none !important;
    box-shadow: none !important;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: inherit;
      border-radius: inherit;
      z-index: 4;
      // background: linear-gradient(-20deg, $primary-c8 0%, $primary-c6 65%, $primary-c1 75%);
      // box-shadow: $metalShadowPrimary;
    }

    * {
      z-index: 3;
    }

    &::after {
      content: '';
      width: inherit;
      height: inherit;
      z-index: 4;
      // background: radial-gradient(ellipse at 40% 0, rgb(71, 170, 251), $primary-c2 35%, transparent 50%);
      top: 0;
      left: 0;
      border-radius: inherit;
      transform: none;
      border: none;
      opacity: 1;
    }

    .x-eye {
      z-index: 5;
      right: -5.5%;
      top: -10.5%;
      width: calc(0.9em + 2px);
      height: calc(0.75em + 2px);
      border-radius: 50% 50% 45% 45%;
      transform: rotate(30deg);
      background-image: radial-gradient(
        circle at 68% 45%, #fff 2%, #899ac0 5%, rgba(101, 70, 145, 0.25) 15%, transparent 20%
      ), radial-gradient(
        circle at 60% 30%, #fff 4%, #8799c0 10%, #434b96 20%, #332c68 30%, #000 50%
      );
      box-shadow: inset 1px -1px 4px 0 #001, inset 1px -1px 2px -1px rgba(123, 112, 141, 0.5), -1px 2px 7px rgba(42, 48, 58, 0.5), 0 0 2px #b2d2fd;
          
      &::after {
        content: none;
      }
    }

    .x-eye2 {
      right: 0.5%;
      top: -3.5%;
      width: calc(0.75em + 2px);
      height: calc(0.75em + 2px);
      border-radius: 50%;
    }

    .x-eye3 {
      right: -3.5%;
      top: 3%;
      width: calc(0.3em + 2px);
      height: calc(0.3em + 2px);
      border-radius: 50%;
      transform: rotate(35deg);
    }

    .x-eye4 {
      right: -7.5%;
      top: 0.5%;
      width: calc(0.25em + 2px);
      height: calc(0.25em + 2px);
      border-radius: 50%;
      transform: rotate(25deg);
    }

    .x-coxa-pattern {
      background: $cephalo-color;
      display: inline-block;
      left: 48%;
      top: 0;
      width: calc(24% + 2px);
      height: calc(80% + 2px);
      transform-origin: 50% 0;
      // box-shadow: inset 0 -2.00em 1.33em 0.67em rgba(20, 20, 10, 0.25);
      border-radius: 80% 80% 20% 20%;
      // background: linear-gradient(7deg, $primary-c8 0%, $primary-c3 55%, $primary-c2 85%, $primary-c1 90%);
      z-index: 4;
      border-bottom: $border;
      border-left: $border;
      // box-shadow: inset 1px -3px 9px -1px rgba(255, 93, 18, 0.875), 3px 3px 7px -1px rgba(255, 93, 18, 1);

      &::after {
        content: none;
      }
    }

    .x-cp1 {
      transform: translate(-90%, 30%) rotate(30deg);
      border-bottom-right-radius: 2em;
    }

    .x-cp2 {
      transform: translate(-35%, 20%) rotate(15deg);
    }

    .x-cp3 {
      transform: translate(7%, 15%) rotate(7deg);
    }

    .x-cp4 {
      transform: translate(40%, 12.5%) rotate(-10deg);
    }

    .x-cp5 {
      transform: translate(70%, 25%) rotate(-32.5deg) scale(0.8);
    }

    .x-chelicera-pattern {
      width: calc(52.5% + 2px);
      height: calc(100% + 2px);
      left: 24%;
      top: 18%;
      border: none !important;
      border-radius: 0 155% 4em 7.5em;
      transform-origin: 50% 0;
      transform: rotate(-80deg);    
      background: none !important;
      box-shadow: none !important;
      z-index: 4;

      &::after {
        content: '';
        position: absolute;
        left: 47%;
        top: 48%;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: inherit;
        z-index: 1;
        border: none;
        border-right: $border;
        border-bottom: $border;

        opacity: 1;
        // background: linear-gradient(77deg, $primary-c5 40%, $primary-c2 75%, $primary-c1 95%);
        // box-shadow: inset 1px -2px 7px -1px rgba(255, 93, 18, 0.75), 1px 3px 10px -1px rgba(255, 93, 18, 0.5);
      }

      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 75%;
        left: -7.5%;
        width: 90%;
        height: 23%;
        border-radius: 0 0 0.5em 100%;
        transform: rotate(10deg);
        background: $metalBgSecondary;
        border: $border;
        // box-shadow: 2px 2px 7px -1px rgba(255, 93, 18, 0.75), $body-shadow;
      }
    }
  }

  &.x-chelicerae {
    width: calc(8.25em + 2px);
    height: calc(4.75em + 2px);
    left: 97%;
    top: 11%;
    transform-origin: 25% 50%;
    transform: rotate(60deg);
    border-radius: 30% 70% 10% 0%;

    background: $primary-c7 !important;
  //   background-image: radial-gradient(circle at 55% 120%,
  //     transparent 5%,
  //     #a0400040 7.5%,
  //     transparent 15%,
  //     #a0400040 17.5%,
  //     transparent 25%,
  //     #a0400040 27.5%,
  //     transparent 35%,
  //     #a0400040 37.5%,
  //     transparent 45%,
  //     #a0400040 47.5%,
  //     transparent 55%,
  //     #a0400040 57.5%,
  //     transparent 65%,
  //     #a0400040 67.5%,
  //     transparent 75%,
  //     #a0400040 77.5%,
  //     transparent 85%,
  //     #a0400040 87.5%,
  //     transparent 95%,
  //     #a0400040 97.5%,
  //     transparent 100%
  //   ), radial-gradient(ellipse at 30.5% 67.5%,
  //     transparent 5%,
  //     $blue 17.5%,
  //     transparent 35%,
  //     $blue 47.5%,
  //     transparent 65%,
  //     $blue 77.5%,
  //     transparent 95%
  //   ), radial-gradient(circle at -25% 65%,
  //     transparent 0%,
  //     #a0400080 5%,
  //     transparent 20%,
  //     #a0400080 25%,
  //     transparent 40%,
  //     #a0400080 45%,
  //     transparent 60%,
  //     #a0400080 65%,
  //     transparent 80%,
  //     #a0400080 85%,
  //   transparent 100%
  // ) !important;
    border: $border;
    border-bottom: none;
    // box-shadow: inset 1px -2px 6px -1px rgba(255, 93, 18, 0.875), 1px 0 6px -1px rgba(255, 93, 18, 1) !important;

    &.x-chelicerae--background {
      top: 7%;
      left: 99%;
      transform: scale(0.95) rotate(50deg);

      .x-fang {
        transform: rotate(135deg);
        bottom: -7%;
      }
    }

    .x-fang {
      background: $fang-color;
      border-radius: 20% 250% 0 2em;
      width: calc(35.5% + 2px);
      height: calc(10.5% + 2px);
      right: -32%;
      bottom: -3.5%;
      transform: rotate(140.5deg);
      transform-origin: 5% 50%;

      &::after {
        left: 5%;
        top: 50%;
      }
    }

    &::after {
      left: 25%;
      top: 50%;
    }
  }

  .x-leg {
    width: calc(15.46em + 2px);
    height: calc(3.04em + 2px);
    left: 70%;
    top: 55%;
    transform-origin: 10% 55%;
    z-index: 5;

    // stretch legs for fun
    // * {
    //   transform: rotate(0) !important;
    // }

    &.x-leg--small {
      transform: rotateY(180deg);
  
      .x-femur {
        width: calc(310% + 2px);
        transform: rotate(-67.5deg);
      }
  
      .x-patella {
        transform: rotate(67.5deg);
      }
  
      .x-metatarsus {
        transform: rotate(30deg);
      }
    }

    &.x-leg--background {
      width: calc(15.41em + 2px);
      height: calc(3.02em + 2px);
      z-index: -1;

      &.x-pedipalp {
        width: calc(10.64em + 2px);
        height: calc(2.92em + 2px);
      }

      * {
        background: none !important;
        position: absolute !important;
        box-shadow: none !important;
        z-index: -1;
        // box-shadow: inset 2px -1px 7px 2px rgba(255, 93, 18, 0.75), -2px -1px 7px rgba(255, 93, 18, 0.75) !important;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: #000735;
          box-sizing: border-box;
          border-radius: inherit;
          border-bottom: none;
        }

        *::after {
          // content: '';
          position: absolute;
          opacity: 0.25;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          transform: none;
          border-radius: inherit;
          border: none;
          background: transparent;
          // background-image: radial-gradient(circle at 5% 45%,
          //   transparent 5%,
          //   #a06200b0 10%,
          //   transparent 20%,
          //   #a06200b0 25%,
          //   transparent 35%,
          //   #a06200b0 40%,
          //   transparent 50%,
          //   #a06200b0 55%,
          //   transparent 65%,
          //   #a06200b0 70%,
          //   transparent 80%,
          //   #a06200b0 85%,
          //   transparent 95%,
          //   #a06200b0 100%
          // ), linear-gradient(2.5deg,
          //   transparent 5%,
          //   #a06200a0 10%,
          //   transparent 20%,
          //   #a06200a0 25%,
          //   transparent 35%,
          //   #a06200a0 40%,
          //   transparent 50%,
          //   #a06200a0 55%,
          //   transparent 65%,
          //   #a06200a0 70%,
          //   transparent 80%,
          //   #a06200a0 85%,
          //   transparent 95%,
          //   #a06200a0 100%
          // );
        }
      }
    }
  }

  .x-spinnerets {
    top: auto;
    bottom: 0;
    left: 22%;
    width: 19%;
    height: 9.5%;
    transform: rotate(-100deg);
    transform-origin: 20% 50%;
    z-index: 1;

    .x-spinnerets-parts {
      // box-shadow: 1px 2px 4px 0 rgba(255, 93, 18, 0.5), 0 0 5px black, $body-shadow;
    }

    .x-femur {
      transform: rotate(-85deg);
    }

    .x-patella {
      transform: rotate(20deg);
      width: 80%;
      height: 90%;
    }
    
    .x-tibia {
      transform: rotate(20deg);
      width: 80%;
      height: 90%;
    }
    
    &.x-spinnerets--background {
      width: 18.5%;
      height: 9%;
      z-index: 0;

      .x-femur {
        transform: rotate(-70deg);
      }
    }
  }

  .x-leg-parts,
  .x-spinnerets-parts {
    background: $leg-color;
    border: $border;
    border-radius: 50% 60% 45% 1.75em;
    // box-shadow: 1px -1px 7px 1px rgba(255, 93, 18, 0.5), 0 0 7px black, $body-shadow;
    height: calc(97.5% + 2px);
    width: calc(100% + 2px);
    left: 95%;
    top: 10%;
    transform-origin: 5% 50%;
    border-bottom: none;

    &::before {
      background: $leg-color;
      border: $border;
      box-shadow: $body-shadow !important;

      box-sizing: content-box;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }

    *::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: inherit;
      border: none;
      background: transparent;
      // background-image: radial-gradient(circle at 95% 85%,
      //   transparent 5%,
      //   #a0620070 10%,
      //   transparent 20%,
      //   #a0620070 25%,
      //   transparent 35%,
      //   #a0620070 40%,
      //   transparent 50%,
      //   #a0620070 55%,
      //   transparent 65%,
      //   #a0620070 70%,
      //   transparent 80%,
      //   #a0620070 85%,
      //   transparent 95%,
      //   #a0620070 100%
      // ), linear-gradient(2deg,
      //   transparent 5%,
      //   #a0620060 10%,
      //   transparent 20%,
      //   #a0620060 25%,
      //   transparent 35%,
      //   #a0620060 40%,
      //   transparent 50%,
      //   #a0620060 55%,
      //   transparent 65%,
      //   #a0620060 70%,
      //   transparent 80%,
      //   #a0620060 85%,
      //   transparent 95%,
      //   #a0620060 100%
      // );
    }
  }

  .x-coxa {
    left: 0;
    top: 0;
    width: calc(30% + 2px);
    border-radius: 50% 30% 50% 60%;
    // box-shadow: 0 -5px 10px -1px rgba(0, 0, 0, 0.75);
    background: $leg-color !important;

    &:before {
      background: $leg-color !important;
    }

    &::after {
      // background-image: radial-gradient(circle at 100% 50%,
      //   transparent 5%,
      //   #a0620060 10%,
      //   transparent 20%,
      //   #a0620060 25%,
      //   transparent 35%,
      //   #a0620060 40%,
      //   transparent 50%,
      //   #a0620060 55%,
      //   transparent 65%,
      //   #a0620060 70%,
      //   transparent 80%,
      //   #a0620060 85%,
      //   transparent 95%,
      //   #a0620060 100%
      // ), linear-gradient(2deg,
      //   transparent 5%,
      //   #a0620060 10%,
      //   transparent 20%,
      //   #a0620060 25%,
      //   transparent 35%,
      //   #a0620060 40%,
      //   transparent 50%,
      //   #a0620060 55%,
      //   transparent 65%,
      //   #a0620060 70%,
      //   transparent 80%,
      //   #a0620060 85%,
      //   transparent 95%,
      //   #a0620060 100%
      // );
    }
  }

  .x-coxa {
    // box-shadow: inset 1px -3px 10px -1px rgba(255, 93, 18, 0.875), 2px 2px 5px -1px rgba(255, 93, 18, 0.5);
  }

  .x-femur {
    height: calc(100% + 2px);
    left: 55%;
    top: 0;
    transform: rotate(-80deg);
    transform-origin: 5% 50%;
    width: calc(350% + 2px);
    border-radius: 50% 60% 2em 3em;
  }

  .x-patella {
    transform: rotate(100deg);
    width: calc(45% + 2px);
  }

  .x-tibia {
    background: $tibia-color;
    height: calc(100% + 2px);
    top: 2.5%;
    left: 80%;
    transform: rotate(15deg);
    width: calc(150% + 2px);
  }

  .x-metatarsus {
    left: 92.5%;
    height: calc(80% + 2px);
    transform: rotate(25deg);
    width: calc(95% + 2px);
  }

  .x-tarsus {
    border-radius: 2em 0.25em 100% 1em;
    height: calc(62.5% + 2px);
    left: 95%;
    top: 20%;
    transform: rotate(-10deg);
    width: calc(60% + 2px);
    // box-shadow: 1px -1px 5px 1px rgba(255, 93, 18, 0.5), 0 0 5px #000, $body-shadow;
  }

  .x-leg.leg-1,
  .x-leg.leg-5 {
    transform: rotate(20deg - 1.2 * $body-angle + 0deg);

    .x-femur {
      transform: rotate(-80deg);
    }

    .x-patella {
      transform: rotate(71deg);
    }

    .x-metatarsus {
      transform: rotate(60deg);
    }

    .x-tarsus {
      transform: rotate(-20deg);
    }
  }

  .x-leg.leg-5 {
    transform: rotate(21.5deg - 1.42 * $body-angle + 0deg);

    .x-femur {
      transform: rotate(-77.5deg);
    }

    .x-patella {
      transform: rotate(65deg);
    }

    .x-metatarsus {
      transform: rotate(55deg);
    }

    .x-tarsus {
      transform: rotate(-25deg);
    }
  }

  .x-leg.leg-2,
  .x-leg.leg-6 {
    top: 62.5%;
    left: 45%;
    transform: rotate(5deg - 1.7 * $body-angle + 0deg);

    .x-femur {
      transform: rotate(-80deg);
    }

    .x-patella {
      transform: rotate(95deg);
    }

    .x-metatarsus {
      transform: rotate(60deg);
    }

    .x-tarsus {
      transform: rotate(-30deg);
    }
  }

  // leg-2 retracted
  
  // .x-leg.leg-2 {
  //   top: 62.5%;
  //   left: 45%;
  //   transform: rotate(90deg - 1.45 * $body-angle + 0deg);

  //   .x-femur {
  //     transform: rotate(-170deg);
  //   }

  //   .x-patella {
  //     transform: rotate(140deg);
  //     width: 25%;
  //   }

  //   .x-tibia {
  //     width: 150%;
  //   }

  //   .x-metatarsus {
  //     transform: rotate(30deg);
  //     width: 190%;
  //   }

  //   .x-tarsus {
  //     transform: rotate(-32deg);
  //     width: 50%;
  //   }
  // }

  .x-leg.leg-6 {
    transform: rotate(5deg - 1.15 * $body-angle + 0deg);

    .x-femur {
      transform: rotate(-75.5deg);
    }

    .x-patella {
      transform: rotate(80.5deg);
    }

    .x-metatarsus {
      transform: rotate(65deg);
    }

    .x-tarsus {
      transform: rotate(-25deg);
    }
  }

  .x-leg.leg-3,
  .x-leg.leg-7 {
    top: 65%;
    left: 22.5%;
    transform: rotateY(180deg) rotateZ(20deg + 1.3 * $body-angle + 0deg);

    .x-femur {
      transform: rotate(-115deg);
    }

    .x-patella {
      transform: rotate(120deg);
    }

    .x-metatarsus {
      transform: rotate(60deg);
    }

    .x-tarsus {
      transform: rotate(-35deg);
    }
  }

  .x-leg.leg-7 {
    transform: rotateY(180deg) rotateZ(15deg + 0.85 * $body-angle + 0deg);

    .x-femur {
      transform: rotate(-124deg);
    }

    .x-patella {
      transform: rotate(122deg);
    }

    .x-metatarsus {
      transform: rotate(75deg);
    }
    
    .x-tarsus {
      transform: rotate(-40deg);
    }
  }

  .x-leg.leg-4,
  .x-leg.leg-8 {
    top: 70%;
    left: 5%;
    transform: rotateY(180deg) rotateZ(2deg + 1.12 * $body-angle + 0deg);

    .x-patella {
      transform: rotate(82.5deg);
    }

    .x-metatarsus {
      transform: rotate(50.5deg);
    }

    .x-tarsus {
      transform: rotate(-22.5deg);
    }
  }

  .x-leg.leg-8 {
    transform: rotateY(180deg) rotate(1.35 * $body-angle + 0deg);

    .x-femur {
      transform: rotate(-75deg);
    }

    .x-patella {
      transform: rotate(87.5deg);
    }

    .x-metatarsus {
      transform: rotate(70.5deg);
    }

    .x-tarsus {
      transform: rotate(-30deg);
    }
  }

  .x-pedipalp {
    left: 92%;
    top: 55%;
    transform: rotate(-12deg - 1.52 * $body-angle + 0deg);
    width: calc(9.14em + 2px);
    height: calc(2.28em + 2px);
    z-index: 4;

    .x-leg-parts {
      border-radius: 40% 50% 35% 25%;
    }

    .x-coxa {
      border-radius: 50%;
    }

    .x-femur {
      transform: rotate(-15deg);
    }

    .x-patella {
      transform: rotate(100.5deg);
      height: 95%;
    }

    .x-tibia {
      transform: rotate(11.5deg);
      top: -5%;
    }

    .x-metatarsus {
      transform: rotate(-30deg);
      width: calc(65% + 2px);
      height: calc(70% + 2px);
      border-radius: 1em 50% 80% 30%;
    }

    &.pedipalp-2 {
      width: calc(9.04em + 2px) !important;
      height: calc(2.26em + 2px) !important;
      left: 100%;
      transform: rotate(-10deg - 1.95 * $body-angle + 0deg);
  
      .x-femur {
        transform: rotate(-22.5deg);
      }
  
      .x-patella {
        transform: rotate(120deg);
      }
  
      .x-metatarsus {
        transform: rotate(-30deg);
      }
    }
  }
}
