$border-color-light: rgba(20, 25, 20, 0.75);
$border: 1px dashed white;
$body-angle: 0;

.tarantula-wrapper {
  position: absolute;
  width: 90vh;
  height: 90vh;
  left: calc(100vw - 95vh);
  top: auto;
  bottom: -21vh;
  font-size: 1.08vh;
  box-sizing: border-box;
  transform-origin: 0 100%;
  z-index: 1;
  visibility: hidden;
  
  .tarantula__info {
    position: absolute;
    top: 35%;
    right: 10%;
    font-size: 3.5em;
    text-align: center;
    opacity: 0.75;
    
    &__description {
      color: #fff;
      transform: rotate(30deg);
      display: block;
      line-height: 1.4em;
      margin: 1em 0;
    }

    &__arrow {
      position: absolute;
      width: 1.5em;
      height: 1.5em;
      right: 59%;
      top: 73%;
    }
  }

  .tarantula__wait {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff !important;
    font-size: 3.5em;
    
    span {
      position: absolute;
      left: 40%;
      top: 50%;
      visibility: hidden;
      opacity: 0;
    }
  }

  @media screen and (max-aspect-ratio: 41/30) and (min-aspect-ratio: 101/100) {
    left: calc(100vw - 85vh);

    .tarantula__info {
      right: 12%;
    }
  }

  &.tarantula-wrapper--mobile {
    top: calc(100vh - 205vw);
    left: -12.5vw;
    font-size: 1.2vw;
    width: 100vw;
    height: 100vw;

    .tarantula__info {
      top: -16%;
      right: 10%;
      font-size: 5.5em;

      &__description {
        transform: rotate(-130deg);

        br {
          line-height: inherit;
          font-size: inherit;
        }
      }

      &__arrow {
        right: 80%;
        transform: rotateY(180deg) rotateZ(-90deg);
        top: 45%;
      }
    }

    .tarantula__wait {
      transform: rotate(-90deg);
    }

    @media screen and (min-aspect-ratio: 30/41) and (max-aspect-ratio: 100/101) {
      top: calc(100vh - 190vw);

      .tarantula__info {
        font-size: 4em;
        top: -14%;
        right: 20%;

        &__arrow {
          right: 69%;
          top: 63%;
        }
      }
    }
  }
}

.tarantula {
  position: absolute;
  width: 88em;
  overflow: hidden;
  height: 72.25em;
  left: 0;
  top: 0;
  font-size: inherit;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
    position: absolute;
  }
}

.x-body {
  font-size: inherit;
  left: 34%;
  top: 70%;
  width: 10%;
  height: 10%;
  transform: rotate(0);
  transform: rotate($body-angle + 0deg);
  transform-origin: 7.5% 8%;

  * {
    font-size: inherit;
  }

  *::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    background: rgba(255, 255, 255, 0.625);
    border: 1px solid white;
    border-radius: 50%;
    left: calc(5% + 1px);
    opacity: 0.5;
    top: calc(50% + 1px);
    transform: translate(-50%, -50%);
  }

  // .x-body-part::before,
  // .x-body-part::after,
  // .x-chelicera-pattern::before,
  // .x-chelicera-pattern::after,
  // .x-body-part .x-coxa-pattern,
  // .x-body-part .x-chelicerae,
  // .x-body-part .x-fang,
  // .x-body-part .x-leg-parts,
  // .x-body-part .x-spinnerets-parts,
  // .x-body-part .x-leg--background .x-leg-parts::before,
  // .x-body-part .x-leg--background .x-leg-parts::before {
  //   transition: background 1s ease-out;
  // }

  // .x-body-part:hover::before,
  // .x-body-part:hover::after,
  // .x-cephalothorax:hover .x-chelicera-pattern::after,
  // .x-chelicera-pattern:hover::before,
  // .x-body-part .x-coxa-pattern:hover,
  // .x-body-part .x-chelicerae:hover,
  // .x-body-part .x-fang:hover,
  // .x-body-part .x-leg-parts:hover,
  // .x-body-part .x-spinnerets-parts:hover,
  // .x-body-part .x-leg--background .x-leg-parts:hover::before,
  // .x-body-part .x-spinnerets--background .x-spinnerets-parts:hover::before {
  //   background: #3500d3 !important;
  //   transition: background 0.125s ease-in;
  // }

  // .x-body-part.glow::before,
  // .x-body-part.glow::after,
  // .x-cephalothorax.glow .x-chelicera-pattern::after,
  // .x-chelicera-pattern.glow::before,
  // .x-body-part .x-coxa-pattern.glow,
  // .x-body-part .x-chelicerae.glow,
  // .x-body-part .x-fang.glow,
  // .x-body-part .x-leg-parts.glow,
  // .x-body-part .x-spinnerets-parts.glow,
  // .x-body-part .x-leg--background .x-leg-parts.glow::before,
  // .x-body-part .x-spinnerets--background .x-spinnerets-parts.glow::before {

  &.glow {
    // .x-coxa-pattern,
    // .x-abdomen,
    // .x-chelicera-pattern,
    // .x-coxa,
    // .x-chelicerae,
    // .x-femur,
    // .x-fang,
    // .x-patella,
    // .x-tibia,
    // .x-metatarsus,
    // .x-tarsus {
    // }
    animation: pulse 1.25s ease-in-out;

    // .x-coxa,
    // .x-chelicerae {
    //   animation-delay: 0.125s;
    // }

    // .x-femur,
    // .x-fang {
    //   animation-delay: 0.25s;
    // }

    // .x-patella {
    //   animation-delay: 0.375s;
    // }

    // .x-tibia {
    //   animation-delay: 0.5s;
    // }

    // .x-metatarsus {
    //   animation-delay: 0.625s;
    // }

    // .x-tarsus {
    //   animation-delay: 0.75s;
    // }
  }
}

@keyframes pulse {
  0% {
    background: rgba(255, 255, 255, 0.625) !important;
  }
  10% {
    background: #3500d3 !important;
    border: 10px solid green;
  }
  20% {
    background: #3500d3 !important;
    border: 10px solid green;
  }
  100% {
    background: rgba(255, 255, 255, 0.625) !important;
  }
}

.x-body-part {
  border: $border;
  transform-origin: 5% 50%;
  background: rgba(255, 255, 255, 0.625);
  box-shadow: none;
  cursor: pointer;

  &.x-abdomen {
    left: -120.75%;
    top: -36.45%;
    width: calc(20.4em + 2px);
    height: calc(14.4em + 2px);
    border-radius: 60% 50% 35% 50%;
    transform-origin: 97.5% 60.5%;
    transform: scale(0.875) rotate(10deg);
    z-index: 1;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background: rgba(255, 255, 255, 0.625);
      z-index: 2;
    }

    &::after {
      left: 97.5%;
      top: 60.5%;
    }
  }

  &.x-cephalothorax {
    transform: rotate(0);
    width: calc(16em + 2px);
    height: calc(8.88em + 2px);
    border-radius: 20%;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 30%;
    background: none !important;
    box-shadow: none !important;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: inherit;
      border-radius: inherit;
      z-index: 4;
    }

    * {
      z-index: 3;
    }

    &::after {
      content: '';
      width: inherit;
      height: inherit;
      z-index: 4;  
      top: 0;
      left: 0;
      border-radius: inherit;
      transform: none;
      border: none;
      opacity: 1;
    }

    .x-coxa-pattern {
      background: rgba(255, 255, 255, 0.625);
      display: inline-block;
      left: 48%;
      top: 0;
      width: calc(24% + 2px);
      height: calc(80% + 2px);
      transform-origin: 50% 0;
      border-radius: 80% 80% 20% 20%;
      z-index: 5;
      border-bottom: $border;
      border-left: $border;

      &::after {
        content: none;
      }
    }

    .x-cp1 {
      transform: translate(-90%, 30%) rotate(30deg);
      border-bottom-right-radius: 2em;
    }

    .x-cp2 {
      transform: translate(-35%, 20%) rotate(15deg);
    }

    .x-cp3 {
      transform: translate(7%, 15%) rotate(7deg);
    }

    .x-cp4 {
      transform: translate(40%, 12.5%) rotate(-10deg);
    }

    .x-cp5 {
      transform: translate(70%, 25%) rotate(-32.5deg) scale(0.8);
    }

    .x-chelicera-pattern {
      width: calc(52.5% + 2px);
      height: calc(100% + 2px);
      left: 24%;
      top: 18%;
      border: none !important;
      border-radius: 0 155% 4em 7.5em;
      transform-origin: 50% 0;
      transform: rotate(-80deg);    
      background: none !important;
      box-shadow: none !important;
      z-index: 4;

      &::after {
        content: '';
        position: absolute;
        left: 47%;
        top: 48%;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: inherit;
        z-index: 1;
        border: none;
        border-right: $border;
        border-bottom: $border;
        opacity: 1;
      }

      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 77%;
        left: -3.5%;
        width: 90%;
        height: 23%;
        border-radius: 0 0 0.5em 100%;
        transform: rotate(8deg);
        background: rgba(255, 255, 255, 0.625);
        border: $border;
      }
    }
  }

  &.x-chelicerae {
    width: calc(8.75em + 2px);
    height: calc(5.25em + 2px);
    left: 97%;
    top: 8%;
    transform-origin: 25% 50%;
    transform: rotate(60deg);
    border-radius: 30% 70% 10% 0%;
    background: rgba(255, 255, 255, 0.625);
    border: $border;
    border-bottom: none;

    &.x-chelicerae--background {
      top: 4%;
      left: 99%;
      transform: scale(0.95) rotate(50deg);

      .x-fang {
        transform: rotate(135deg);
        bottom: -7%;
      }
    }

    .x-fang {
      background: rgba(255, 255, 255, 0.625);
      border-radius: 20% 250% 0 2em;
      width: calc(35.5% + 2px);
      height: calc(10.5% + 2px);
      right: -32%;
      bottom: -3.5%;
      transform: rotate(140.5deg);
      transform-origin: 5% 50%;

      &::after {
        content: none;
        left: 5%;
        top: 50%;
      }
    }

    &::after {
      left: 25%;
      top: 50%;
    }
  }

  .x-leg {
    width: calc(15.46em + 2px);
    height: calc(3.04em + 2px);
    left: 70%;
    top: 55%;
    transform-origin: 10% 55%;
    z-index: 5;

    &.x-leg--small {
      transform: rotateY(180deg);
  
      .x-femur {
        width: calc(14.378em + 2px);
        transform: rotate(-67.5deg);
      }
  
      .x-patella {
        width: calc(6.47em + 2px);
        transform: rotate(67.5deg);
      }

      .x-tibia {
        width: calc(9.7em + 2px);
      }
  
      .x-metatarsus {
        width: calc(9.22em + 2px);
        transform: rotate(30deg);
      }

      .x-tarsus {
        width: calc(5.53em + 2px);
      }
    }

    &.x-leg--background {
      font-size: 0.9875em;
      z-index: -1;

      * {
        background: none !important;
        position: absolute !important;
        box-shadow: none !important;
        z-index: -1;
       
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.625);
          box-sizing: border-box;
          border-radius: inherit;
          border-bottom: none;
        }

        *::after {
          position: absolute;
          opacity: 0.25;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          transform: none;
          border-radius: inherit;
          border: none;
          background: transparent;
        }
      }
    }
  }

  .x-spinnerets {
    top: auto;
    bottom: 0;
    left: 22%;
    width: 3.876em;
    height: 1.368em;
    transform: rotate(-100deg);
    transform-origin: 20% 50%;
    z-index: 1;

    .x-coxa {
      width: 0.75em !important;
      height: 1.33em;
    }

    .x-femur {
      width: 3.876em;
      height: 1.3em;
      transform: rotate(-85deg);
    }

    .x-patella {
      transform: rotate(20deg);
      width: 3.1em;
      height: 1.17em;
    }
    
    .x-tibia {
      transform: rotate(20deg);
      width: 2.48em;
      height: 1.05em;
    }
    
    &.x-spinnerets--background {
      font-size: 0.974em;
      z-index: 0;

      .x-femur {
        transform: rotate(-70deg);
      }
    }
  }

  .x-leg-parts,
  .x-spinnerets-parts {
    background: rgba(255, 255, 255, 0.625);
    border: $border;
    border-radius: 50% 60% 45% 1.75em;
    left: 95%;
    top: 10%;
    transform-origin: 5% 50%;
    border-bottom: none;

    &::before {
      background: rgba(255, 255, 255, 0.625);
      border: $border;
      box-shadow: none !important;
      box-sizing: content-box;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }

    *::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: inherit;
      border: none;
      background: transparent;
    }
  }

  .x-coxa {
    left: 0;
    top: 0;
    width: calc(4.623em + 2px);
    height: calc(3.76em + 2px);
    border-radius: 50% 30% 50% 60%;
    background: rgba(255, 255, 255, 0.625);

    &::before {
      background: rgba(255, 255, 255, 0.625);
    }

    &::after {
      content: none;
    }
  }

  .x-femur {
    height: calc(3.76em + 2px);
    left: 55%;
    top: 0;
    transform: rotate(-80deg);
    transform-origin: 5% 50%;
    width: calc(16.18em + 2px);
    border-radius: 50% 60% 2em 3em;
  }

  .x-patella {
    transform: rotate(100deg);
    width: calc(7.28em + 2px);
    height: calc(3.668em + 2px);
  }

  .x-tibia {
    background: rgba(255, 255, 255, 0.625);
    height: calc(3.668em + 2px);
    top: 2.5%;
    left: 80%;
    transform: rotate(15deg);
    width: calc(10.92em + 2px);
  }

  .x-metatarsus {
    left: 92.5%;
    height: calc(2.972em + 2px);
    transform: rotate(25deg);
    width: calc(10.38em + 2px);
  }

  .x-tarsus {
    border-radius: 2em 0.25em 100% 1em;
    height: calc(1.934em + 2px);
    left: 95%;
    top: 20%;
    transform: rotate(-10deg);
    width: calc(6.22em + 2px);
  }

  .x-leg.leg-1,
  .x-leg.leg-5 {
    transform: rotate(20deg - 1.2 * $body-angle + 0deg);

    .x-femur {
      transform: rotate(-80deg);
    }

    .x-patella {
      transform: rotate(71deg);
    }

    .x-metatarsus {
      transform: rotate(60deg);
    }

    .x-tarsus {
      transform: rotate(-20deg);
    }
  }

  .x-leg.leg-5 {
    transform: rotate(21.5deg - 1.42 * $body-angle + 0deg);

    .x-femur {
      transform: rotate(-77.5deg);
    }

    .x-patella {
      transform: rotate(65deg);
    }

    .x-metatarsus {
      transform: rotate(55deg);
    }

    .x-tarsus {
      transform: rotate(-25deg);
    }
  }

  .x-leg.leg-2,
  .x-leg.leg-6 {
    top: 62.5%;
    left: 45%;
    transform: rotate(5deg - 1.7 * $body-angle + 0deg);

    .x-femur {
      transform: rotate(-80deg);
    }

    .x-patella {
      transform: rotate(95deg);
    }

    .x-metatarsus {
      transform: rotate(60deg);
    }

    .x-tarsus {
      transform: rotate(-30deg);
    }
  }

  .x-leg.leg-6 {
    transform: rotate(5deg - 1.15 * $body-angle + 0deg);

    .x-femur {
      transform: rotate(-75.5deg);
    }

    .x-patella {
      transform: rotate(80.5deg);
    }

    .x-metatarsus {
      transform: rotate(65deg);
    }

    .x-tarsus {
      transform: rotate(-25deg);
    }
  }

  .x-leg.leg-3,
  .x-leg.leg-7 {
    top: 65%;
    left: 22.5%;
    transform: rotateY(180deg) rotateZ(20deg + 1.3 * $body-angle + 0deg);
    
    .x-femur {
      transform: rotate(-115deg);
    }

    .x-patella {
      transform: rotate(120deg);
    }

    .x-metatarsus {
      transform: rotate(60deg);
    }

    .x-tarsus {
      transform: rotate(-35deg);
    }
  }

  .x-leg.leg-7 {
    transform: rotateY(180deg) rotateZ(15deg + 0.85 * $body-angle + 0deg);
    
    .x-femur {
      transform: rotate(-124deg);
    }

    .x-patella {
      transform: rotate(122deg);
    }

    .x-metatarsus {
      transform: rotate(75deg);
    }
    
    .x-tarsus {
      transform: rotate(-40deg);
    }
  }

  .x-leg.leg-4,
  .x-leg.leg-8 {
    top: 70%;
    left: 5%;
    transform: rotateY(180deg) rotateZ(2deg + 1.12 * $body-angle + 0deg);

    .x-patella {
      transform: rotate(82.5deg);
    }

    .x-metatarsus {
      transform: rotate(50.5deg);
    }

    .x-tarsus {
      transform: rotate(-22.5deg);
    }
  }

  .x-leg.leg-8 {
    transform: rotateY(180deg) rotate(1.35 * $body-angle + 0deg);

    .x-femur {
      transform: rotate(-75deg);
    }

    .x-patella {
      transform: rotate(87.5deg);
    }

    .x-metatarsus {
      transform: rotate(70.5deg);
    }

    .x-tarsus {
      transform: rotate(-30deg);
    }
  }

  .x-pedipalp {
    left: 92%;
    top: 55%;
    transform: rotate(-17deg - 1.52 * $body-angle + 0deg);
    width: calc(12.14em + 2px);
    height: calc(2.78em + 2px);
    z-index: 5;

    .x-leg-parts {
      border-radius: 40% 50% 35% 25%;
    }

    .x-coxa {
      width: calc(3.642em + 2px);
      height: calc(2.723em + 2px);
      border-radius: 50%;
    }

    .x-femur {
      width: calc(12.747em + 2px);
      height: calc(2.723em + 2px);
      transform: rotate(-15deg);
    }

    .x-patella {
      width: calc(5.636em + 2px);
      transform: rotate(100.5deg);
      height: calc(2.612em + 2px);
    }

    .x-tibia {
      width: calc(8.4em + 2px);
      height: calc(2.512em + 2px);
      transform: rotate(11.5deg);
      top: -5%;
    }

    .x-metatarsus {
      transform: rotate(-30deg);
      width: calc(5.29em + 2px);
      height: calc(1.778em + 2px);
      border-radius: 1em 50% 80% 30%;
    }

    &.pedipalp-2 {
      font-size: 0.99em;
      left: 100%;
      transform: rotate(-17deg - 1.95 * $body-angle + 0deg);
  
      .x-femur {
        transform: rotate(-22.5deg);
      }
  
      .x-patella {
        transform: rotate(120deg);
      }
  
      .x-metatarsus {
        transform: rotate(-30deg);
      }
    }
  }
}
