$border-color: #1f180e;
$border-color-light: rgba(20, 25, 20, 0.75);
$body-shadow: none; // inset 10px -5px 15px rgba(0, 0, 0, 0.35), 0 0 8px 2px $border-color;
$body-shadow: inset -4px -5px 10px rgba(0, 0, 0, 1), inset 3px 2px 7px rgba(255, 143, 20, 0.25), 0 0 4px rgba(255, 143, 20, 0.5);
$border: 1px solid $border-color-light; // dotted $border-color-light;
$border: 1px dashed rgba(255, 143, 20, 0.25); // $border-color-light;
// $body-color: linear-gradient(0, #1f1a14 0%, #2f281e 50%, #403d26 100%);
// $patella-color: linear-gradient(7deg, #2f281e 0%, #403d26 40%, #605b39 65%, #605b39 75%, #403d26 90%, #2f281e 100%);
// $tibia-color: linear-gradient(3deg, #2f281e 0%, #605b39 55%, #403d26 70%, #403d26 80%, #605b39 95%);
// $meta-color: linear-gradient(95deg, #605b39 0%, #2f281e 100%);
// $cephalo-color: linear-gradient(-30deg, #403d26 30%, #403d26 60%, #2f281e 100%);
$fang-color: linear-gradient(3deg, #050505 0%, #151815 30%, #050505 80%);

// $body-color: linear-gradient(0, #040206 0%, #281B0B 35%, #281B0B 50%, #100428 100%);
$leg-color: radial-gradient(circle at 0 0, #040206 0%, #281B0B 65%, #100428 100%);
// $patella-color: linear-gradient(7deg, #281B0B 0%, #100428 40%, #150437 65%, #150437 75%, #100428 90%, #281B0B 100%);
// $tibia-color: linear-gradient(3deg, #281B0B 0%, #150437 55%, #100428 70%, #100428 80%, #150437 95%);
// $meta-color: linear-gradient(95deg, #150437 0%, #281B0B 100%);
// $cephalo-color: linear-gradient(20deg, #100428 30%, #100428 60%, #281B0B 100%);
// $chelicerae-color: linear-gradient(20deg, #040206 0%, #281B0B 40%, #100428 100%);

$body-color: linear-gradient(0, #150f10 0%, #1e101e 35%, #1e101e 50%, #201520 100%);
$leg-color: radial-gradient(circle at 0 0, #150f10 0%, #1e101e 65%, #201520 100%);
$patella-color: linear-gradient(7deg, #1e101e 0%, #201520 40%, #393039 65%, #393039 75%, #201520 90%, #1e101e 100%);
$tibia-color: linear-gradient(3deg, #1e101e 0%, #393039 55%, #201520 70%, #201520 80%, #393039 95%);
$meta-color: linear-gradient(95deg, #393039 0%, #1e101e 100%);
$cephalo-color: linear-gradient(20deg, #201520 30%, #201520 60%, #1e101e 100%);
$chelicerae-color: linear-gradient(20deg, #150f10 0%, #1e101e 40%, #201520 100%);

$cephalo-color: linear-gradient(20deg, #8084a8 30%, #8084a8 60%, #a89B8B 100%);

$body-angle: 0deg;

$gold-c1: #EEEEF0;
$gold-c2: #E8C375;
$gold-c3: #EEA242;
$gold-c4: #D2A665;
$gold-c5: #B0752F;
$gold-c6: #8D5021;
$gold-c7: #82611C;
$gold-c8: #231806;

$steel-c1: #FFF;
$steel-c2: #D8D0CD;
$steel-c3: #8A847E;
$steel-c4: #9F9895;
$steel-c5: #6C635A;
$steel-c6: #4D4945;
$steel-c7: #3F3F47;
$steel-c8: #131210;

.tarantula {
  position: relative;
  width: 66.9vw; // 53.52vw; // 950px;
  height: 24.5vw; // 40vw; // 710px;
  left: 7.5vw; // 27.5vw;
  top: 20vw;
  font-size: 0.975vw; // 0.78vw; // 0.39vw;
  box-sizing: border-box;
  // overflow: hidden;

  * {
    box-sizing: border-box;
    position: absolute;
  }
}

.x-body {
  left: 42.75%;
  top: -40%;
  width: 100%;
  height: 100%;
  transform: rotate(0);
  transform: rotate($body-angle);
  transform-origin: 7.5% 8%;

  &::after,
  *::after {
    // transform-origin
    // content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    background: blue;
    border: 1px solid white;
    border-radius: 50%;
    left: calc(5% + 1px);
    opacity: 0.5;
    top: calc(50% + 1px);
    transform: translate(-50%, -50%);
  }

  &::after {
    top: 32%;
    left: 10.5%;
  }
}

.x-body-part {
    background: $body-color;
    border: $border;
    box-shadow: $body-shadow;
    transform-origin: 5% 50%;
    background: radial-gradient(circle at 20% -5%, $gold-c1 25%, $gold-c2 29%, $gold-c3 35%, $gold-c3 42.5%, $gold-c6 85%, $gold-c7 100%) !important;
    box-shadow: inset -3em -4.5em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.125em -5em $gold-c2, inset -3em -4.5em 0.125em -5em $gold-c2, inset 2em -2.5em 0.125em -3em $gold-c2, inset -0.125em -0.175em 0.125em -0.125em $gold-c2, inset 0 -0.0525em 0.1em -0.0125em $gold-c2, inset -2em -5.25em 0.25em -5em $gold-c8, inset -3.8em -2.75em 0.25em -4em $gold-c8, inset 1.875em -2.375em 0.175em -2.5em $gold-c8, inset 3.625em 2.625em 0.125em -4em $gold-c8, inset 1.875em 3em 0.125em -3em $gold-c8, inset 0.5em 0.375em 0.125em -0.375em $gold-c8, inset -2em 2.25em 0.25em -2.75em $gold-c8, inset 3.625em 2.625em 0.25em -3.9em $gold-c6, inset 1.875em 3em 0.25em -2.95em $gold-c6, inset -1.125em 2.125em 0.375em -2em $gold-c6, 0.075em 0.175em 0.2em 0.0125em rgba(0, 0, 0, 0.75), 0.125em 0.1em 0.75em 0.175em rgba(0, 0, 0, 0.35), 0.5em 0.5em 1em 0.25em rgba(0, 0, 0, 0.25), -0.25em 0.5em 1.5em 0.5em rgba(0, 0, 0, 0.1), 0 0 3.5em rgba(238,162,66, 0.125), 0.125em 0.125em 0.25em -0.05em rgba(238,162,66, 0.75), 0.125em 0.125em 0.75em 0.125em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.5em -0.05em rgba(238,162,66, 0.25) !important;

  &.x-abdomen {
    left: -123.75%;
    top: -36.45%;
    width: calc(20.4em + 2px);
    height: calc(14.4em + 2px);
    border-radius: 60% 50% 35% 50%;
    transform-origin: 97.5% 60.5%;
    transform: rotate(10deg);
    z-index: 1 !important;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      // background-color: #8b3029aa;
      background-image: radial-gradient(circle at 100% 75%,
        transparent 5%,
        #a0520040 10%,
        transparent 20%,
        #a0520040 25%,
        transparent 35%,
        #a0520040 40%,
        transparent 50%,
        #a0520040 55%,
        transparent 65%,
        #a0520040 70%,
        transparent 80%,
        #a0520040 85%
      ); // #8b302955; // rgba(255, 143, 20, 0.075);
    }

    &::after {
      left: 97.5%;
      top: 60.5%;
    }
  }

  &.x-cephalothorax {
    transform: rotate(0);
    width: calc(16em + 2px);
    height: calc(9.33em + 2px);
    border-radius: 20%;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 30%;
    background: none !important;
    box-shadow: none !important;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $cephalo-color;
      box-sizing: border-box;
      border: inherit;
      box-shadow: $body-shadow;
      border-radius: inherit;
      z-index: 2;
      background: radial-gradient(circle at 20% -5%, $gold-c1 25%, $gold-c2 29%, $gold-c3 35%, $gold-c3 42.5%, $gold-c6 85%, $gold-c7 100%) !important;
      box-shadow: inset -3em -4.5em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.125em -5em $gold-c2, inset -3em -4.5em 0.125em -5em $gold-c2, inset 2em -2.5em 0.125em -3em $gold-c2, inset -0.125em -0.175em 0.125em -0.125em $gold-c2, inset 0 -0.0525em 0.1em -0.0125em $gold-c2, inset -2em -5.25em 0.25em -5em $gold-c8, inset -3.8em -2.75em 0.25em -4em $gold-c8, inset 1.875em -2.375em 0.175em -2.5em $gold-c8, inset 3.625em 2.625em 0.125em -4em $gold-c8, inset 1.875em 3em 0.125em -3em $gold-c8, inset 0.5em 0.375em 0.125em -0.375em $gold-c8, inset -2em 2.25em 0.25em -2.75em $gold-c8, inset 3.625em 2.625em 0.25em -3.9em $gold-c6, inset 1.875em 3em 0.25em -2.95em $gold-c6, inset -1.125em 2.125em 0.375em -2em $gold-c6, 0.075em 0.175em 0.2em 0.0125em rgba(0, 0, 0, 0.75), 0.125em 0.1em 0.75em 0.175em rgba(0, 0, 0, 0.35), 0.5em 0.5em 1em 0.25em rgba(0, 0, 0, 0.25), -0.25em 0.5em 1.5em 0.5em rgba(0, 0, 0, 0.1), 0 0 3.5em rgba(238,162,66, 0.125), 0.125em 0.125em 0.25em -0.05em rgba(238,162,66, 0.75), 0.125em 0.125em 0.75em 0.125em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.5em -0.05em rgba(238,162,66, 0.25) !important;
    }

    * {
      z-index: 3;
    }

    &::after {
      content: none;
    }

    .x-eye {
      right: -6.5%;
      top: -7%;
      width: calc(1.33em + 2px);
      height: calc(1.07em + 2px);
      border-radius: 50% 50% 45% 45%;
      transform: rotate(215deg);
      background-color: #000;
      background-image:
        radial-gradient(circle at 55% 80%, #bbbbdd77 0%, #aaaacc77 10%, #00001177 25%, #33337777 50%, rgba(100, 100, 120, 0.5) 70%),
        radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 20%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.125) 50%),
        radial-gradient(circle at 30% 70%, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 20%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.125) 50%);
      box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.75), inset 2px -1px 2px rgba(0, 0, 0, 0.5), 0 -1px 3px rgba(0, 0, 0, 0.5);

      &::after {
        content: none;
      }
    }

    .x-eye2 {
      right: 3%;
      top: 2%;
      width: calc(1.07em + 2px);
      height: calc(1.07em + 2px);
      border-radius: 50%;
      transform: rotate(270deg);
    }

    .x-eye3 {
      right: -5.5%;
      top: 11%;
      width: calc(0.6em + 2px);
      height: calc(0.55em + 2px);
      border-radius: 50%;
      transform: rotate(280deg);
    }

    .x-eye4 {
      right: -11%;
      top: 5%;
      width: calc(0.55em + 2px);
      height: calc(0.5em + 2px);
      border-radius: 50%;
      transform: rotate(270deg);
    }

    .x-coxa-pattern,
    .x-chelicera-pattern {
      background: $cephalo-color;
      display: inline-block;
      left: 48%;
      top: 0;
      width: calc(24% + 2px);
      height: calc(80% + 2px);
      transform-origin: 50% 0;
      box-shadow: inset 0 -2.00em 1.33em 0.67em rgba(20, 20, 10, 0.25);
      border-radius: 80% 80% 20% 20%;
      background: radial-gradient(circle at 20% -5%, $gold-c1 25%, $gold-c2 29%, $gold-c3 35%, $gold-c3 42.5%, $gold-c6 85%, $gold-c7 100%) !important;
      box-shadow: inset -3em -4.5em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.125em -5em $gold-c2, inset -3em -4.5em 0.125em -5em $gold-c2, inset 2em -2.5em 0.125em -3em $gold-c2, inset -0.125em -0.175em 0.125em -0.125em $gold-c2, inset 0 -0.0525em 0.1em -0.0125em $gold-c2, inset -2em -5.25em 0.25em -5em $gold-c8, inset -3.8em -2.75em 0.25em -4em $gold-c8, inset 1.875em -2.375em 0.175em -2.5em $gold-c8, inset 3.625em 2.625em 0.125em -4em $gold-c8, inset 1.875em 3em 0.125em -3em $gold-c8, inset 0.5em 0.375em 0.125em -0.375em $gold-c8, inset -2em 2.25em 0.25em -2.75em $gold-c8, inset 3.625em 2.625em 0.25em -3.9em $gold-c6, inset 1.875em 3em 0.25em -2.95em $gold-c6, inset -1.125em 2.125em 0.375em -2em $gold-c6, 0.075em 0.175em 0.2em 0.0125em rgba(0, 0, 0, 0.75), 0.125em 0.1em 0.75em 0.175em rgba(0, 0, 0, 0.35), 0.5em 0.5em 1em 0.25em rgba(0, 0, 0, 0.25), -0.25em 0.5em 1.5em 0.5em rgba(0, 0, 0, 0.1), 0 0 3.5em rgba(238,162,66, 0.125), 0.125em 0.125em 0.25em -0.05em rgba(238,162,66, 0.75), 0.125em 0.125em 0.75em 0.125em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.5em -0.05em rgba(238,162,66, 0.25) !important;

      &::after {
        content: none;
      }
    }

    .x-cp1 {
      transform: translate(-90%, 30%) rotate(30deg);
      border-bottom-right-radius: 2em;
    }

    .x-cp2 {
      transform: translate(-35%, 20%) rotate(15deg);
    }

    .x-cp3 {
      transform: translate(7%, 15%) rotate(7deg);
    }

    .x-cp4 {
      transform: translate(40%, 12.5%) rotate(-10deg);
    }

    .x-chelicera-pattern {
      width: calc(52.5% + 2px);
      height: calc(120% + 2px);
      left: 12.5%;
      top: 18%;
      border: 0.13em solid $border-color;
      box-shadow: inset 6px -2px 8px rgba(0, 0, 0, 0.75), inset -4px 0 7px rgba(255, 143, 20, 0.25), 4px -1px 4px -3px rgba(255, 143, 20, 0.5);
      border: 0;
      border-radius: 0 155% 35% 30%;
      transform: rotate(-80deg);
      background: radial-gradient(circle at 20% -5%, $gold-c1 25%, $gold-c2 29%, $gold-c3 35%, $gold-c3 42.5%, $gold-c6 85%, $gold-c7 100%) !important;
      box-shadow: inset -3em -4.5em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.125em -5em $gold-c2, inset -3em -4.5em 0.125em -5em $gold-c2, inset 2em -2.5em 0.125em -3em $gold-c2, inset -0.125em -0.175em 0.125em -0.125em $gold-c2, inset 0 -0.0525em 0.1em -0.0125em $gold-c2, inset -2em -5.25em 0.25em -5em $gold-c8, inset -3.8em -2.75em 0.25em -4em $gold-c8, inset 1.875em -2.375em 0.175em -2.5em $gold-c8, inset 3.625em 2.625em 0.125em -4em $gold-c8, inset 1.875em 3em 0.125em -3em $gold-c8, inset 0.5em 0.375em 0.125em -0.375em $gold-c8, inset -2em 2.25em 0.25em -2.75em $gold-c8, inset 3.625em 2.625em 0.25em -3.9em $gold-c6, inset 1.875em 3em 0.25em -2.95em $gold-c6, inset -1.125em 2.125em 0.375em -2em $gold-c6, 0.075em 0.175em 0.2em 0.0125em rgba(0, 0, 0, 0.75), 0.125em 0.1em 0.75em 0.175em rgba(0, 0, 0, 0.35), 0.5em 0.5em 1em 0.25em rgba(0, 0, 0, 0.25), -0.25em 0.5em 1.5em 0.5em rgba(0, 0, 0, 0.1), 0 0 3.5em rgba(238,162,66, 0.125), 0.125em 0.125em 0.25em -0.05em rgba(238,162,66, 0.75), 0.125em 0.125em 0.75em 0.125em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.5em -0.05em rgba(238,162,66, 0.25) !important;
    
      background: none !important;
      position: absolute !important;
      box-shadow: none !important;

      &::after {
        content: '';
        position: absolute;
        left: 47%;
        top: 48%;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: inherit;
        z-index: 1;

        opacity: 1;
        background: radial-gradient(circle at 20% -5%, $gold-c1 25%, $gold-c2 29%, $gold-c3 35%, $gold-c3 42.5%, $gold-c6 85%, $gold-c7 100%) !important;
        box-shadow: inset -3em -4.5em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.125em -5em $gold-c2, inset -3em -4.5em 0.125em -5em $gold-c2, inset 2em -2.5em 0.125em -3em $gold-c2, inset -0.125em -0.175em 0.125em -0.125em $gold-c2, inset 0 -0.0525em 0.1em -0.0125em $gold-c2, inset -2em -5.25em 0.25em -5em $gold-c8, inset -3.8em -2.75em 0.25em -4em $gold-c8, inset 1.875em -2.375em 0.175em -2.5em $gold-c8, inset 3.625em 2.625em 0.125em -4em $gold-c8, inset 1.875em 3em 0.125em -3em $gold-c8, inset 0.5em 0.375em 0.125em -0.375em $gold-c8, inset -2em 2.25em 0.25em -2.75em $gold-c8, inset 3.625em 2.625em 0.25em -3.9em $gold-c6, inset 1.875em 3em 0.25em -2.95em $gold-c6, inset -1.125em 2.125em 0.375em -2em $gold-c6, 0.075em 0.175em 0.2em 0.0125em rgba(0, 0, 0, 0.75), 0.125em 0.1em 0.75em 0.175em rgba(0, 0, 0, 0.35), 0.5em 0.5em 1em 0.25em rgba(0, 0, 0, 0.25), -0.25em 0.5em 1.5em 0.5em rgba(0, 0, 0, 0.1), 0 0 3.5em rgba(238,162,66, 0.125), 0.125em 0.125em 0.25em -0.05em rgba(238,162,66, 0.75), 0.125em 0.125em 0.75em 0.125em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.5em -0.05em rgba(238,162,66, 0.25) !important;
      }

      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 86.5%;
        left: -18%;
        width: 100%;
        height: 20%;
        background: blue;
        border-radius: 0 0 1em 100%;
        transform: rotate(7deg);

        background: radial-gradient(circle at 20% -5%, $gold-c1 25%, $gold-c2 29%, $gold-c3 35%, $gold-c3 42.5%, $gold-c6 85%, $gold-c7 100%) !important;
        box-shadow: inset -3em -4.5em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.125em -5em $gold-c2, inset -3em -4.5em 0.125em -5em $gold-c2, inset 2em -2.5em 0.125em -3em $gold-c2, inset -0.125em -0.175em 0.125em -0.125em $gold-c2, inset 0 -0.0525em 0.1em -0.0125em $gold-c2, inset -2em -5.25em 0.25em -5em $gold-c8, inset -3.8em -2.75em 0.25em -4em $gold-c8, inset 1.875em -2.375em 0.175em -2.5em $gold-c8, inset 3.625em 2.625em 0.125em -4em $gold-c8, inset 1.875em 3em 0.125em -3em $gold-c8, inset 0.5em 0.375em 0.125em -0.375em $gold-c8, inset -2em 2.25em 0.25em -2.75em $gold-c8, inset 3.625em 2.625em 0.25em -3.9em $gold-c6, inset 1.875em 3em 0.25em -2.95em $gold-c6, inset -1.125em 2.125em 0.375em -2em $gold-c6, 0.075em 0.175em 0.2em 0.0125em rgba(0, 0, 0, 0.75), 0.125em 0.1em 0.75em 0.175em rgba(0, 0, 0, 0.35), 0.5em 0.5em 1em 0.25em rgba(0, 0, 0, 0.25), -0.25em 0.5em 1.5em 0.5em rgba(0, 0, 0, 0.1), 0 0 3.5em rgba(238,162,66, 0.125), 0.125em 0.125em 0.25em -0.05em rgba(238,162,66, 0.75), 0.125em 0.125em 0.75em 0.125em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.5em -0.05em rgba(238,162,66, 0.25) !important;
      }
    }
  }

  &.x-chelicerae {
    background: $chelicerae-color;
    width: calc(9.25em + 2px);
    height: calc(5.25em + 2px);
    left: 97.5%;
    top: 18%;
    transform-origin: 25% 50%;
    transform: rotate(75deg);
    border-radius: 30% 70% 10% 0%;

    &.x-chelicerae--background {
      top: 15%;
      left: 98%;
      transform: scale(0.95) rotate(65deg);

      .x-fang {
        transform: rotate(115deg);
        bottom: -7%;
      }
    }

    .x-fang {
      background: $fang-color;
      border-radius: 20% 250% 0 2em;
      width: calc(35.5% + 2px);
      height: calc(10.5% + 2px);
      right: -32%;
      bottom: -3.5%;
      transform: rotate(118.5deg);
      transform-origin: 5% 50%;
      // background: radial-gradient(circle at 20% -5%, $gold-c1 25%, $gold-c2 29%, $gold-c3 35%, $gold-c3 42.5%, $gold-c6 85%, $gold-c7 100%) !important;
      // box-shadow: inset -3em -4.5em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.125em -5em $gold-c2, inset -3em -4.5em 0.125em -5em $gold-c2, inset 2em -2.5em 0.125em -3em $gold-c2, inset -0.125em -0.175em 0.125em -0.125em $gold-c2, inset 0 -0.0525em 0.1em -0.0125em $gold-c2, inset -2em -5.25em 0.25em -5em $gold-c8, inset -3.8em -2.75em 0.25em -4em $gold-c8, inset 1.875em -2.375em 0.175em -2.5em $gold-c8, inset 3.625em 2.625em 0.125em -4em $gold-c8, inset 1.875em 3em 0.125em -3em $gold-c8, inset 0.5em 0.375em 0.125em -0.375em $gold-c8, inset -2em 2.25em 0.25em -2.75em $gold-c8, inset 3.625em 2.625em 0.25em -3.9em $gold-c6, inset 1.875em 3em 0.25em -2.95em $gold-c6, inset -1.125em 2.125em 0.375em -2em $gold-c6, 0.075em 0.175em 0.2em 0.0125em rgba(0, 0, 0, 0.75), 0.125em 0.1em 0.75em 0.175em rgba(0, 0, 0, 0.35), 0.5em 0.5em 1em 0.25em rgba(0, 0, 0, 0.25), -0.25em 0.5em 1.5em 0.5em rgba(0, 0, 0, 0.1), 0 0 3.5em rgba(238,162,66, 0.125), 0.125em 0.125em 0.25em -0.05em rgba(238,162,66, 0.75), 0.125em 0.125em 0.75em 0.125em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.5em -0.05em rgba(238,162,66, 0.25) !important;

      &::after {
        left: 5%;
        top: 50%;
      }
    }

    &::after {
      left: 25%;
      top: 50%;
    }
  }

  .x-leg {
    width: calc(16.46em + 2px);
    height: calc(3.54em + 2px);
    left: 70%;
    top: 60%;
    transform-origin: 10% 55%;
    // opacity: 0;

    // stretch legs for fun
    // * {
    //   transform: rotate(0) !important;
    // }

    &.x-leg--small {
      transform: rotateY(180deg);
  
      .x-femur {
        width: calc(310% + 2px);
        transform: rotate(-67.5deg);
      }
  
      .x-patella {
        transform: rotate(67.5deg);
      }
  
      .x-metatarsus {
        transform: rotate(30deg);
      }
    }

    &.x-leg--background {
      width: calc(16.41em + 2px);
      height: calc(3.52em + 2px);
      z-index: -1;

      &.x-pedipalp {
        width: calc(10.64em + 2px);
        height: calc(2.92em + 2px);
      }

      * {
        background: none !important;
        position: absolute !important;
        box-shadow: none !important;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: $patella-color;
          box-sizing: border-box;
          border-radius: inherit;
          z-index: 1;
        }
      }
    }
  }

  .x-leg-parts {
    background: $leg-color;
    border: $border;
    border-radius: 50% 60% 45% 1.75em;
    box-shadow: $body-shadow;
    height: calc(97.5% + 2px);
    width: calc(100% + 2px);
    left: 95%;
    top: 10%;
    transform-origin: 5% 50%;

    &::before {
      background: $leg-color;
      border: $border;
      box-shadow: $body-shadow;
    }
    // background: radial-gradient(circle at 20% -5%, $gold-c1 25%, $gold-c2 29%, $gold-c3 35%, $gold-c3 42.5%, $gold-c6 85%, $gold-c7 100%) !important;
    // box-shadow: inset -3em -4.5em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.175em -5.125em $gold-c1, inset -4.625em -2.75em 0.125em -5em $gold-c2, inset -3em -4.5em 0.125em -5em $gold-c2, inset 2em -2.5em 0.125em -3em $gold-c2, inset -0.125em -0.175em 0.125em -0.125em $gold-c2, inset 0 -0.0525em 0.1em -0.0125em $gold-c2, inset -2em -5.25em 0.25em -5em $gold-c8, inset -3.8em -2.75em 0.25em -4em $gold-c8, inset 1.875em -2.375em 0.175em -2.5em $gold-c8, inset 3.625em 2.625em 0.125em -4em $gold-c8, inset 1.875em 3em 0.125em -3em $gold-c8, inset 0.5em 0.375em 0.125em -0.375em $gold-c8, inset -2em 2.25em 0.25em -2.75em $gold-c8, inset 3.625em 2.625em 0.25em -3.9em $gold-c6, inset 1.875em 3em 0.25em -2.95em $gold-c6, inset -1.125em 2.125em 0.375em -2em $gold-c6, 0.075em 0.175em 0.2em 0.0125em rgba(0, 0, 0, 0.75), 0.125em 0.1em 0.75em 0.175em rgba(0, 0, 0, 0.35), 0.5em 0.5em 1em 0.25em rgba(0, 0, 0, 0.25), -0.25em 0.5em 1.5em 0.5em rgba(0, 0, 0, 0.1), 0 0 3.5em rgba(238,162,66, 0.125), 0.125em 0.125em 0.25em -0.05em rgba(238,162,66, 0.75), 0.125em 0.125em 0.75em 0.125em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.5em -0.05em rgba(238,162,66, 0.25) !important;
  }

  .x-coxa {
    left: 0;
    top: 0;
    width: calc(30% + 2px);
    border-radius: 50% 30% 50% 60%;
    box-shadow: 0 -5px 10px -1px rgba(0, 0, 0, 0.75);

    &::after {
      content: none;
    }
  }

  .x-femur {
    height: calc(100% + 2px);
    left: 55%;
    top: 0;
    transform: rotate(-80deg);
    transform-origin: 5% 50%;
    width: calc(350% + 2px);
    border-radius: 50% 60% 2em 3em;

    &::after {
      left: 5%;
      top: 50%;
    }
  }

  .x-patella {
    background: $patella-color !important;
    transform: rotate(100deg);
    width: calc(45% + 2px);
  }

  .x-tibia {
    background: $tibia-color;
    height: calc(100% + 2px);
    top: 2.5%;
    left: 80%;
    transform: rotate(15deg);
    width: calc(150% + 2px);
  }

  .x-metatarsus {
    background: $meta-color !important;
    left: 92.5%;
    height: calc(80% + 2px);
    transform: rotate(25deg);
    width: calc(95% + 2px);
  }

  .x-tarsus {
    border-radius: 2em 0.75em 100% 50%;
    height: calc(65% + 2px);
    left: 95%;
    top: 20%;
    transform: rotate(-10deg);
    width: calc(60% + 2px);
  }

  .x-leg.leg-1,
  .x-leg.leg-5 {
    transform: rotate(20deg - $body-angle);

    .x-femur {
      transform: rotate(-80deg);
    }

    .x-patella {
      transform: rotate(71deg);
    }

    .x-metatarsus {
      transform: rotate(60deg);
    }

    .x-tarsus {
      transform: rotate(-20deg);
    }
  }

  .x-leg.leg-5 {
    transform: rotate(21.5deg - $body-angle);

    .x-femur {
      transform: rotate(-77.5deg);
    }

    .x-patella {
      transform: rotate(65deg);
    }

    .x-metatarsus {
      transform: rotate(55deg);
    }

    .x-tarsus {
      transform: rotate(-25deg);
    }
  }

  .x-leg.leg-2,
  .x-leg.leg-6 {
    top: 67.5%;
    left: 45%;
    transform: rotate(5deg - $body-angle);

    .x-femur {
      transform: rotate(-80deg);
    }

    .x-patella {
      transform: rotate(95deg);
    }

    .x-metatarsus {
      transform: rotate(60deg);
    }

    .x-tarsus {
      transform: rotate(-30deg);
    }
  }

  // leg-2 retracted
  
  // .x-leg.leg-2 {
  //   top: 67.5%;
  //   left: 45%;
  //   transform: rotate(90deg - $body-angle);

  //   .x-femur {
  //     transform: rotate(-170deg);
  //   }

  //   .x-patella {
  //     transform: rotate(140deg);
  //     width: 25%;
  //   }

  //   .x-tibia {
  //     width: 150%;
  //   }

  //   .x-metatarsus {
  //     transform: rotate(30deg);
  //     width: 190%;
  //   }

  //   .x-tarsus {
  //     transform: rotate(-32deg);
  //     width: 50%;
  //   }
  // }

  .x-leg.leg-6 {
    transform: rotate(5deg - $body-angle);

    .x-femur {
      transform: rotate(-75.5deg);
    }

    .x-patella {
      transform: rotate(80.5deg);
    }

    .x-metatarsus {
      transform: rotate(65deg);
    }

    .x-tarsus {
      transform: rotate(-25deg);
    }
  }

  .x-leg.leg-3,
  .x-leg.leg-7 {
    top: 70%;
    left: 22.5%;
    transform: rotateY(180deg) rotateZ(20deg + $body-angle);

    .x-femur {
      transform: rotate(-115deg);
    }

    .x-patella {
      transform: rotate(120deg);
    }

    .x-metatarsus {
      transform: rotate(60deg);
    }

    .x-tarsus {
      transform: rotate(-35deg);
    }
  }

  .x-leg.leg-7 {
    transform: rotateY(180deg) rotateZ(15deg + $body-angle);

    .x-femur {
      transform: rotate(-124deg);
    }

    .x-patella {
      transform: rotate(122deg);
    }

    .x-metatarsus {
      transform: rotate(75deg);
    }
    
    .x-tarsus {
      transform: rotate(-40deg);
    }
  }

  .x-leg.leg-4,
  .x-leg.leg-8 {
    top: 75%;
    left: 5%;
    transform: rotateY(180deg) rotateZ(2deg + $body-angle);

    .x-patella {
      transform: rotate(82.5deg);
    }

    .x-metatarsus {
      transform: rotate(50.5deg);
    }

    .x-tarsus {
      transform: rotate(-22.5deg);
    }
  }

  .x-leg.leg-8 {
    .x-femur {
      transform: rotate(-75deg + $body-angle);
    }

    .x-patella {
      transform: rotate(87.5deg);
    }

    .x-metatarsus {
      transform: rotate(70.5deg);
    }

    .x-tarsus {
      transform: rotate(-30deg);
    }
  }

  .x-pedipalp {
    left: 95%;
    top: 60%;
    transform: rotate(60deg - $body-angle);
    width: calc(10.14em + 2px);
    height: calc(2.78em + 2px);

    .x-leg-parts {
      border-radius: 40% 50% 35% 25%;
    }

    .x-femur {
      transform: rotate(-95deg);
    }

    .x-patella {
      transform: rotate(120.5deg);
      height: 95%;
    }

    .x-tibia {
      transform: rotate(11.5deg);
      top: -5%;
    }

    .x-metatarsus {
      transform: rotate(-50deg);
      width: calc(65% + 2px);
      height: calc(70% + 2px);
      border-radius: 1em 50% 80% 30%;
    }

    &.pedipalp-2 {
      transform: rotate(57.5deg - $body-angle);
      width: calc(9.63em + 2px) !important;
      height: calc(2.64em + 2px) !important;
      left: 100%;
  
      .x-femur {
        transform: rotate(-92.5deg);
      }
  
      .x-patella {
        transform: rotate(120deg);
      }
  
      .x-metatarsus {
        transform: rotate(-45deg);
      }
    }
  }
}
