.App {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: #ddd;
  font-family: Oswald, sans-serif;
}

.main section {
  position: relative;
}

.main-header {
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.main-header .brand {
  text-decoration: none;
  color: #fff;
  margin: 10px 20px;
}
.main-header .navbar {
  list-style: none;
  color: #fff;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.main-header .navbar li {
  margin: 10px 20px;
}

.hero {
  background: #555;
  height: 90vh;
  overflow: hidden;
}
.hero::before {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, transparent 25%, rgba(255, 100, 100, 0.33) 25%, rgba(255, 100, 100, 0.33) 42.5%, transparent 42.5%, transparent 63.5%, rgba(255, 100, 100, 0.33) 63.5%, rgba(255, 100, 100, 0.33) 81%, transparent 81%), linear-gradient(90deg, transparent 7.5%, rgba(100, 100, 255, 0.33) 7.5%, rgba(100, 100, 255, 0.33) 25%, transparent 25%, transparent 50%, rgba(100, 100, 255, 0.33) 50%, rgba(100, 100, 255, 0.33) 67.5%, transparent 67.5%);
  width: 100%;
  height: 100%;
}
.hero__title {
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  margin: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.hero__title span {
  font-size: 6.25vmax;
  line-height: 1.25em;
  color: #fff;
}
@media screen and (max-width: 700px) {
  .hero__title span {
    font-size: 1.75em;
  }
}
.hero__title .block {
  display: block;
}
.hero__title .small {
  font-size: 0.75em;
}
.hero__title .left {
  text-align: left;
}
.hero__title .left--overflow {
  margin-left: -18vmax;
}
@media screen and (max-width: 700px) {
  .hero__title .left--overflow {
    margin-left: -15vmax;
  }
}
.hero__title .right {
  text-align: right;
}
.hero__title .right--overflow {
  margin-right: -15.25vmax;
}
@media screen and (max-width: 700px) {
  .hero__title .right--overflow {
    margin-right: -12.5vmax;
  }
}
.hero__title__block {
  width: 49vmax;
}
@media screen and (max-width: 700px) {
  .hero__title__block {
    display: block;
    width: 87%;
    max-width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
  }
}
.hero__title .hero__title--highlight {
  font-size: inherit;
  color: yellow;
}

.tarantula {
  position: relative;
  width: 53.52vw;
  height: 40vw;
  left: 7.5vw;
  top: 2.5vw;
  font-size: 0.78vw;
  box-sizing: border-box;
}
.tarantula * {
  box-sizing: border-box;
  position: absolute;
}

.x-body {
  left: 42.75%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: rotate(0);
  transform: rotate(0deg);
  transform-origin: 7.5% 8%;
}
.x-body::after,
.x-body *::after {
  position: absolute;
  width: 3px;
  height: 3px;
  background: blue;
  border: 1px solid white;
  border-radius: 50%;
  left: calc(5% + 1px);
  opacity: 0.5;
  top: calc(50% + 1px);
  transform: translate(-50%, -50%);
}
.x-body::after {
  top: 32%;
  left: 10.5%;
}

.x-body-part {
  border: 1px dashed white;
  transform-origin: 5% 50%;
  background: #3c546d;
  box-shadow: none;
}
.x-body-part.x-abdomen {
  left: -120.75%;
  top: -36.45%;
  width: calc(20.4em + 2px);
  height: calc(14.4em + 2px);
  border-radius: 60% 50% 35% 50%;
  transform-origin: 97.5% 60.5%;
  transform: rotate(10deg);
  z-index: 1;
}
.x-body-part.x-abdomen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: 2;
}
.x-body-part.x-abdomen::after {
  left: 97.5%;
  top: 60.5%;
}
.x-body-part.x-cephalothorax {
  transform: rotate(0);
  width: calc(16em + 2px);
  height: calc(9.33em + 2px);
  border-radius: 20%;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 30%;
  background: none !important;
  box-shadow: none !important;
}
.x-body-part.x-cephalothorax::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: inherit;
  border-radius: inherit;
  z-index: 4;
}
.x-body-part.x-cephalothorax * {
  z-index: 3;
}
.x-body-part.x-cephalothorax::after {
  content: "";
  width: inherit;
  height: inherit;
  z-index: 4;
  top: 0;
  left: 0;
  border-radius: inherit;
  transform: none;
  border: none;
  opacity: 1;
}
.x-body-part.x-cephalothorax .x-eye {
  z-index: 5;
  right: -7.5%;
  top: -7%;
  width: calc(1.33em + 2px);
  height: calc(1.07em + 2px);
  border-radius: 50% 50% 45% 45%;
  transform: rotate(30deg);
}
.x-body-part.x-cephalothorax .x-eye::after {
  content: none;
}
.x-body-part.x-cephalothorax .x-eye2 {
  right: -0.5%;
  top: 2.5%;
  width: calc(1.07em + 2px);
  height: calc(1.07em + 2px);
  border-radius: 50%;
}
.x-body-part.x-cephalothorax .x-eye3 {
  right: -5.5%;
  top: 11%;
  width: calc(0.6em + 2px);
  height: calc(0.55em + 2px);
  border-radius: 50%;
  transform: rotate(35deg);
}
.x-body-part.x-cephalothorax .x-eye4 {
  right: -10%;
  top: 6.5%;
  width: calc(0.55em + 2px);
  height: calc(0.5em + 2px);
  border-radius: 50%;
  transform: rotate(25deg);
}
.x-body-part.x-cephalothorax .x-coxa-pattern {
  background: #8084a8;
  display: inline-block;
  left: 48%;
  top: 0;
  width: calc(24% + 2px);
  height: calc(80% + 2px);
  transform-origin: 50% 0;
  border-radius: 80% 80% 20% 20%;
  z-index: 4;
  border-bottom: 1px dashed white;
  border-left: 1px dashed white;
}
.x-body-part.x-cephalothorax .x-coxa-pattern::after {
  content: none;
}
.x-body-part.x-cephalothorax .x-cp1 {
  transform: translate(-90%, 30%) rotate(30deg);
  border-bottom-right-radius: 2em;
}
.x-body-part.x-cephalothorax .x-cp2 {
  transform: translate(-35%, 20%) rotate(15deg);
}
.x-body-part.x-cephalothorax .x-cp3 {
  transform: translate(7%, 15%) rotate(7deg);
}
.x-body-part.x-cephalothorax .x-cp4 {
  transform: translate(40%, 12.5%) rotate(-10deg);
}
.x-body-part.x-cephalothorax .x-cp5 {
  transform: translate(70%, 25%) rotate(-32.5deg) scale(0.8);
}
.x-body-part.x-cephalothorax .x-chelicera-pattern {
  width: calc(52.5% + 2px);
  height: calc(100% + 2px);
  left: 24%;
  top: 18%;
  border: none !important;
  border-radius: 0 155% 4em 7.5em;
  transform-origin: 50% 0;
  transform: rotate(-80deg);
  background: none !important;
  box-shadow: none !important;
  z-index: 4;
}
.x-body-part.x-cephalothorax .x-chelicera-pattern::after {
  content: "";
  position: absolute;
  left: 47%;
  top: 48%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: inherit;
  z-index: 1;
  border: none;
  border-right: 1px dashed white;
  border-bottom: 1px dashed white;
  opacity: 1;
}
.x-body-part.x-cephalothorax .x-chelicera-pattern::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 75%;
  left: -10%;
  width: 90%;
  height: 30%;
  border-radius: 0 0 0.5em 100%;
  transform: rotate(10deg);
  background: #8c8a8a;
  border: 1px dashed white;
}
.x-body-part.x-chelicerae {
  width: calc(9.25em + 2px);
  height: calc(5.25em + 2px);
  left: 97.5%;
  top: 18%;
  transform-origin: 25% 50%;
  transform: rotate(75deg);
  border-radius: 30% 70% 10% 0%;
  background: #000003 !important;
  border: 1px dashed white;
  border-bottom: none;
}
.x-body-part.x-chelicerae.x-chelicerae--background {
  top: 15%;
  left: 98%;
  transform: scale(0.95) rotate(65deg);
}
.x-body-part.x-chelicerae.x-chelicerae--background .x-fang {
  transform: rotate(115deg);
  bottom: -7%;
}
.x-body-part.x-chelicerae .x-fang {
  background: #050505;
  border-radius: 20% 250% 0 2em;
  width: calc(35.5% + 2px);
  height: calc(10.5% + 2px);
  right: -32%;
  bottom: -3.5%;
  transform: rotate(118.5deg);
  transform-origin: 5% 50%;
}
.x-body-part.x-chelicerae .x-fang::after {
  left: 5%;
  top: 50%;
}
.x-body-part.x-chelicerae::after {
  left: 25%;
  top: 50%;
}
.x-body-part .x-leg {
  width: calc(16.46em + 2px);
  height: calc(3.54em + 2px);
  left: 70%;
  top: 60%;
  transform-origin: 10% 55%;
  z-index: 5;
}
.x-body-part .x-leg.x-leg--small {
  transform: rotateY(180deg);
}
.x-body-part .x-leg.x-leg--small .x-femur {
  width: calc(310% + 2px);
  transform: rotate(-67.5deg);
}
.x-body-part .x-leg.x-leg--small .x-patella {
  transform: rotate(67.5deg);
}
.x-body-part .x-leg.x-leg--small .x-metatarsus {
  transform: rotate(30deg);
}
.x-body-part .x-leg.x-leg--background {
  width: calc(16.41em + 2px);
  height: calc(3.52em + 2px);
  z-index: -1;
}
.x-body-part .x-leg.x-leg--background.x-pedipalp {
  width: calc(10.64em + 2px);
  height: calc(2.92em + 2px);
}
.x-body-part .x-leg.x-leg--background * {
  background: none !important;
  position: absolute !important;
  box-shadow: none !important;
  z-index: -1;
}
.x-body-part .x-leg.x-leg--background *::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000735;
  box-sizing: border-box;
  border-radius: inherit;
  border-bottom: none;
}
.x-body-part .x-leg.x-leg--background * *::after {
  position: absolute;
  opacity: 0.25;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  border-radius: inherit;
  border: none;
  background: transparent;
}
.x-body-part .x-spinnerets {
  top: auto;
  bottom: 0;
  left: 22%;
  width: 20%;
  height: 10%;
  transform: rotate(-100deg);
  transform-origin: 20% 50%;
  z-index: 1;
}
.x-body-part .x-spinnerets .x-femur {
  transform: rotate(-85deg);
}
.x-body-part .x-spinnerets .x-patella {
  transform: rotate(20deg);
  width: 80%;
  height: 90%;
}
.x-body-part .x-spinnerets .x-tibia {
  transform: rotate(20deg);
  width: 80%;
  height: 90%;
}
.x-body-part .x-spinnerets.x-spinnerets--background {
  width: 19.5%;
  height: 9.5%;
}
.x-body-part .x-spinnerets.x-spinnerets--background .x-femur {
  transform: rotate(-70deg);
}
.x-body-part .x-leg-parts,
.x-body-part .x-spinnerets-parts {
  background: #030c14;
  border: 1px dashed white;
  border-radius: 50% 60% 45% 1.75em;
  height: calc(97.5% + 2px);
  width: calc(100% + 2px);
  left: 95%;
  top: 10%;
  transform-origin: 5% 50%;
  border-bottom: none;
}
.x-body-part .x-leg-parts::before,
.x-body-part .x-spinnerets-parts::before {
  background: #030c14;
  border: 1px dashed white;
  box-shadow: none !important;
  box-sizing: content-box;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}
.x-body-part .x-leg-parts *::after,
.x-body-part .x-spinnerets-parts *::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  border-radius: inherit;
  border: none;
  background: transparent;
}
.x-body-part .x-coxa {
  left: 0;
  top: 0;
  width: calc(30% + 2px);
  border-radius: 50% 30% 50% 60%;
  background: #030c14 !important;
}
.x-body-part .x-coxa:before {
  background: #030c14 !important;
}
.x-body-part .x-femur {
  height: calc(100% + 2px);
  left: 55%;
  top: 0;
  transform: rotate(-80deg);
  transform-origin: 5% 50%;
  width: calc(350% + 2px);
  border-radius: 50% 60% 2em 3em;
}
.x-body-part .x-patella {
  transform: rotate(100deg);
  width: calc(45% + 2px);
}
.x-body-part .x-tibia {
  background: #030c14;
  height: calc(100% + 2px);
  top: 2.5%;
  left: 80%;
  transform: rotate(15deg);
  width: calc(150% + 2px);
}
.x-body-part .x-metatarsus {
  left: 92.5%;
  height: calc(80% + 2px);
  transform: rotate(25deg);
  width: calc(95% + 2px);
}
.x-body-part .x-tarsus {
  border-radius: 2em 0.25em 100% 1em;
  height: calc(62.5% + 2px);
  left: 95%;
  top: 20%;
  transform: rotate(-10deg);
  width: calc(60% + 2px);
}
.x-body-part .x-leg.leg-1,
.x-body-part .x-leg.leg-5 {
  transform: rotate(20deg);
}
.x-body-part .x-leg.leg-1 .x-femur,
.x-body-part .x-leg.leg-5 .x-femur {
  transform: rotate(-80deg);
}
.x-body-part .x-leg.leg-1 .x-patella,
.x-body-part .x-leg.leg-5 .x-patella {
  transform: rotate(71deg);
}
.x-body-part .x-leg.leg-1 .x-metatarsus,
.x-body-part .x-leg.leg-5 .x-metatarsus {
  transform: rotate(60deg);
}
.x-body-part .x-leg.leg-1 .x-tarsus,
.x-body-part .x-leg.leg-5 .x-tarsus {
  transform: rotate(-20deg);
}
.x-body-part .x-leg.leg-5 {
  transform: rotate(21.5deg);
}
.x-body-part .x-leg.leg-5 .x-femur {
  transform: rotate(-77.5deg);
}
.x-body-part .x-leg.leg-5 .x-patella {
  transform: rotate(65deg);
}
.x-body-part .x-leg.leg-5 .x-metatarsus {
  transform: rotate(55deg);
}
.x-body-part .x-leg.leg-5 .x-tarsus {
  transform: rotate(-25deg);
}
.x-body-part .x-leg.leg-2,
.x-body-part .x-leg.leg-6 {
  top: 67.5%;
  left: 45%;
  transform: rotate(5deg);
}
.x-body-part .x-leg.leg-2 .x-femur,
.x-body-part .x-leg.leg-6 .x-femur {
  transform: rotate(-80deg);
}
.x-body-part .x-leg.leg-2 .x-patella,
.x-body-part .x-leg.leg-6 .x-patella {
  transform: rotate(95deg);
}
.x-body-part .x-leg.leg-2 .x-metatarsus,
.x-body-part .x-leg.leg-6 .x-metatarsus {
  transform: rotate(60deg);
}
.x-body-part .x-leg.leg-2 .x-tarsus,
.x-body-part .x-leg.leg-6 .x-tarsus {
  transform: rotate(-30deg);
}
.x-body-part .x-leg.leg-6 {
  transform: rotate(5deg);
}
.x-body-part .x-leg.leg-6 .x-femur {
  transform: rotate(-75.5deg);
}
.x-body-part .x-leg.leg-6 .x-patella {
  transform: rotate(80.5deg);
}
.x-body-part .x-leg.leg-6 .x-metatarsus {
  transform: rotate(65deg);
}
.x-body-part .x-leg.leg-6 .x-tarsus {
  transform: rotate(-25deg);
}
.x-body-part .x-leg.leg-3,
.x-body-part .x-leg.leg-7 {
  top: 70%;
  left: 22.5%;
  transform: rotateY(180deg) rotateZ(20deg);
}
.x-body-part .x-leg.leg-3 .x-femur,
.x-body-part .x-leg.leg-7 .x-femur {
  transform: rotate(-115deg);
}
.x-body-part .x-leg.leg-3 .x-patella,
.x-body-part .x-leg.leg-7 .x-patella {
  transform: rotate(120deg);
}
.x-body-part .x-leg.leg-3 .x-metatarsus,
.x-body-part .x-leg.leg-7 .x-metatarsus {
  transform: rotate(60deg);
}
.x-body-part .x-leg.leg-3 .x-tarsus,
.x-body-part .x-leg.leg-7 .x-tarsus {
  transform: rotate(-35deg);
}
.x-body-part .x-leg.leg-7 {
  transform: rotateY(180deg) rotateZ(15deg);
}
.x-body-part .x-leg.leg-7 .x-femur {
  transform: rotate(-124deg);
}
.x-body-part .x-leg.leg-7 .x-patella {
  transform: rotate(122deg);
}
.x-body-part .x-leg.leg-7 .x-metatarsus {
  transform: rotate(75deg);
}
.x-body-part .x-leg.leg-7 .x-tarsus {
  transform: rotate(-40deg);
}
.x-body-part .x-leg.leg-4,
.x-body-part .x-leg.leg-8 {
  top: 75%;
  left: 5%;
  transform: rotateY(180deg) rotateZ(2deg);
}
.x-body-part .x-leg.leg-4 .x-patella,
.x-body-part .x-leg.leg-8 .x-patella {
  transform: rotate(82.5deg);
}
.x-body-part .x-leg.leg-4 .x-metatarsus,
.x-body-part .x-leg.leg-8 .x-metatarsus {
  transform: rotate(50.5deg);
}
.x-body-part .x-leg.leg-4 .x-tarsus,
.x-body-part .x-leg.leg-8 .x-tarsus {
  transform: rotate(-22.5deg);
}
.x-body-part .x-leg.leg-8 .x-femur {
  transform: rotate(-75deg);
}
.x-body-part .x-leg.leg-8 .x-patella {
  transform: rotate(87.5deg);
}
.x-body-part .x-leg.leg-8 .x-metatarsus {
  transform: rotate(70.5deg);
}
.x-body-part .x-leg.leg-8 .x-tarsus {
  transform: rotate(-30deg);
}
.x-body-part .x-pedipalp {
  left: 92%;
  top: 60%;
  transform: rotate(-12deg);
  width: calc(10.14em + 2px);
  height: calc(2.78em + 2px);
  z-index: 4;
}
.x-body-part .x-pedipalp .x-leg-parts {
  border-radius: 40% 50% 35% 25%;
}
.x-body-part .x-pedipalp .x-coxa {
  border-radius: 50%;
}
.x-body-part .x-pedipalp .x-femur {
  transform: rotate(-15deg);
}
.x-body-part .x-pedipalp .x-patella {
  transform: rotate(100.5deg);
  height: 95%;
}
.x-body-part .x-pedipalp .x-tibia {
  transform: rotate(11.5deg);
  top: -5%;
}
.x-body-part .x-pedipalp .x-metatarsus {
  transform: rotate(-30deg);
  width: calc(65% + 2px);
  height: calc(70% + 2px);
  border-radius: 1em 50% 80% 30%;
}
.x-body-part .x-pedipalp.pedipalp-2 {
  width: calc(10.04em + 2px) !important;
  height: calc(2.76em + 2px) !important;
  left: 100%;
}
.x-body-part .x-pedipalp.pedipalp-2 .x-femur {
  transform: rotate(-22.5deg);
}
.x-body-part .x-pedipalp.pedipalp-2 .x-patella {
  transform: rotate(120deg);
}
.x-body-part .x-pedipalp.pedipalp-2 .x-metatarsus {
  transform: rotate(-30deg);
}

body {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
