.App {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: #ddd;
  font-family: Oswald, sans-serif;
}

.main section {
  position: relative;
}

.main-header {
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.main-header .brand {
  text-decoration: none;
  color: #fff;
  margin: 10px 20px;
}
.main-header .navbar {
  list-style: none;
  color: #fff;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.main-header .navbar li {
  margin: 10px 20px;
}

.hero {
  background: #555;
  height: 90vh;
  overflow: hidden;
}
.hero__title {
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  margin: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.hero__title span {
  font-size: 6.25vmax;
  line-height: 1.25em;
  color: #fff;
}
.hero__title .block {
  display: block;
}
.hero__title .small {
  font-size: 0.75em;
}
.hero__title .left {
  text-align: left;
}
.hero__title .left--overflow {
  margin-left: -18vmax;
}
.hero__title .right {
  text-align: right;
}
.hero__title .right--overflow {
  margin-right: -15.25vmax;
}
.hero__title__block {
  width: 49vmax;
}
.hero__title .hero__title--highlight {
  font-size: inherit;
  color: yellow;
}

.tarantula {
  position: absolute;
  width: 53.52vmax;
  height: 40vmax;
  left: 20vmax;
  top: 30vmax;
  font-size: 0.78vmax;
  box-sizing: border-box;
}
.tarantula * {
  box-sizing: border-box;
  position: absolute;
}

.x-body {
  left: 42.75%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: rotate(-10deg);
}
.x-body::after,
.x-body *::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background: blue;
  border: 1px solid white;
  border-radius: 50%;
  left: calc(5% + 1px);
  opacity: 0.5;
  top: calc(50% + 1px);
  transform: translate(-50%, -50%);
}
.x-body::after {
  top: 7.5%;
  left: 8%;
}

.x-body-part {
  background: linear-gradient(0, #1f1a14 0%, #2f281e 50%, #403d26 100%);
  border: 1px dashed rgba(255, 143, 20, 0.25);
  box-shadow: inset -4px -5px 10px black, inset 3px 2px 7px rgba(255, 143, 20, 0.25), 0 0 4px rgba(255, 143, 20, 0.5);
  transform-origin: 5% 50%;
  background: radial-gradient(circle at 20% -5%, #FFF 25%, #D8D0CD 29%, #8A847E 35%, #8A847E 42.5%, #4D4945 85%, #3F3F47 100%) !important;
  box-shadow: inset -3em -4.5em 0.175em -5.125em #FFF, inset -4.625em -2.75em 0.175em -5.125em #FFF, inset -4.625em -2.75em 0.125em -5em #D8D0CD, inset -3em -4.5em 0.125em -5em #D8D0CD, inset 2em -2.5em 0.125em -3em #D8D0CD, inset -0.125em -0.175em 0.125em -0.125em #D8D0CD, inset 0 -0.0525em 0.1em -0.0125em #D8D0CD, inset -2em -5.25em 0.25em -5em #131210, inset -3.8em -2.75em 0.25em -4em #131210, inset 1.875em -2.375em 0.175em -2.5em #131210, inset 3.625em 2.625em 0.125em -4em #131210, inset 1.875em 3em 0.125em -3em #131210, inset 0.5em 0.375em 0.125em -0.375em #131210, inset -2em 2.25em 0.25em -2.75em #131210, inset 3.625em 2.625em 0.25em -3.9em #4D4945, inset 1.875em 3em 0.25em -2.95em #4D4945, inset -1.125em 2.125em 0.375em -2em #4D4945, 0.075em 0.175em 0.2em 0.0125em rgba(0, 0, 0, 0.75), 0.125em 0.1em 0.75em 0.175em rgba(0, 0, 0, 0.35), 0.5em 0.5em 1em 0.25em rgba(0, 0, 0, 0.25), -0.25em 0.5em 1.5em 0.5em rgba(0, 0, 0, 0.1), 0 0 3.5em rgba(238, 162, 66, 0.125), 0.125em 0.125em 0.25em -0.05em rgba(238, 162, 66, 0.75), 0.125em 0.125em 0.75em 0.125em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.5em -0.05em rgba(238, 162, 66, 0.25) !important;
}
.x-body-part.x-abdomen {
  left: -137.5%;
  top: -40.5%;
  width: calc(22.67em + 2px);
  height: calc(16em + 2px);
  border-radius: 60% 50% 35% 50%;
  transform-origin: 97.5% 60.5%;
  transform: rotate(20deg);
  z-index: -1;
}
.x-body-part.x-abdomen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 60% 50% 35% 50%;
  background-color: #605b3977;
}
.x-body-part.x-abdomen::after {
  left: 97.5%;
  top: 60.5%;
}
.x-body-part.x-cephalothorax {
  background: linear-gradient(-30deg, #403d26 30%, #403d26 60%, #2f281e 100%);
  width: calc(16em + 2px);
  height: calc(9.33em + 2px);
  border-radius: 20%;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 30%;
}
.x-body-part.x-cephalothorax::after {
  content: none;
}
.x-body-part.x-cephalothorax .x-eye {
  right: -16.5%;
  top: 1%;
  width: calc(1.33em + 2px);
  height: calc(1.07em + 2px);
  border-radius: 50% 50% 45% 45%;
  transform: rotate(45deg);
}
.x-body-part.x-cephalothorax .x-eye::after {
  content: none;
}
.x-body-part.x-cephalothorax .x-eye2 {
  right: -6%;
  top: 2%;
  width: calc(1.07em + 2px);
  height: calc(1.07em + 2px);
  border-radius: 50%;
  transform: rotate(60deg);
}
.x-body-part.x-cephalothorax .x-eye3 {
  right: -14.5%;
  top: 19%;
  width: calc(0.73em + 2px);
  height: calc(0.6em + 2px);
  border-radius: 50%;
  transform: rotate(70deg);
}
.x-body-part.x-cephalothorax .x-eye4 {
  right: -20%;
  top: 17%;
  width: calc(0.77em + 2px);
  height: calc(0.6em + 2px);
  border-radius: 50%;
  transform: rotate(60deg);
}
.x-body-part.x-cephalothorax .x-coxa-pattern,
.x-body-part.x-cephalothorax .x-chelicera-pattern {
  background: linear-gradient(-30deg, #403d26 30%, #403d26 60%, #2f281e 100%);
  display: inline-block;
  left: 48%;
  top: 0;
  width: calc(24% + 2px);
  height: calc(80% + 2px);
  transform-origin: 50% 0;
  box-shadow: inset 0 -2em 1.33em 0.67em rgba(20, 20, 10, 0.25);
  border-radius: 80% 80% 20% 20%;
}
.x-body-part.x-cephalothorax .x-coxa-pattern::after,
.x-body-part.x-cephalothorax .x-chelicera-pattern::after {
  content: none;
}
.x-body-part.x-cephalothorax .x-cp1 {
  transform: translate(-90%, 35%) rotate(30deg);
}
.x-body-part.x-cephalothorax .x-cp2 {
  transform: translate(-35%, 20%) rotate(15deg);
}
.x-body-part.x-cephalothorax .x-cp3 {
  transform: translate(7%, 15%) rotate(7deg);
}
.x-body-part.x-cephalothorax .x-cp4 {
  transform: translate(40%, 12.5%) rotate(-10deg);
}
.x-body-part.x-cephalothorax .x-chelicera-pattern {
  width: calc(37.5% + 2px);
  height: calc(70% + 2px);
  border: 0.13em solid #1f180e;
  box-shadow: inset 2px -3px 10px black, inset -4px 0 7px rgba(255, 143, 20, 0.25), 4px -1px 4px -3px rgba(255, 143, 20, 0.5);
  border-bottom: 0;
  border-left: 0;
  border-radius: 20% 85% 15% 0%;
  transform: translate(25%, 0) rotate(-55deg);
}
.x-body-part.x-chelicerae {
  background: linear-gradient(20deg, #150f10 0%, #1e101e 40%, #201520 100%);
  width: calc(9.75em + 2px);
  height: calc(6.25em + 2px);
  left: 97.5%;
  top: 12%;
  transform-origin: 25% 50%;
  transform: rotate(75deg);
  border-radius: 30% 70% 10% 0%;
}
.x-body-part.x-chelicerae .x-fang {
  background: linear-gradient(-2deg, #222 0%, #444 50%, #222 100%);
  border-radius: 20% 200% 0 0;
  width: calc(35.5% + 2px);
  height: calc(12.5% + 2px);
  right: -31%;
  bottom: -2.5%;
  transform: rotate(120deg);
  transform-origin: 5% 50%;
  background: radial-gradient(circle at 20% -5%, #FFF 25%, #D8D0CD 29%, #8A847E 35%, #8A847E 42.5%, #4D4945 85%, #3F3F47 100%) !important;
  box-shadow: inset -3em -4.5em 0.175em -5.125em #FFF, inset -4.625em -2.75em 0.175em -5.125em #FFF, inset -4.625em -2.75em 0.125em -5em #D8D0CD, inset -3em -4.5em 0.125em -5em #D8D0CD, inset 2em -2.5em 0.125em -3em #D8D0CD, inset -0.125em -0.175em 0.125em -0.125em #D8D0CD, inset 0 -0.0525em 0.1em -0.0125em #D8D0CD, inset -2em -5.25em 0.25em -5em #131210, inset -3.8em -2.75em 0.25em -4em #131210, inset 1.875em -2.375em 0.175em -2.5em #131210, inset 3.625em 2.625em 0.125em -4em #131210, inset 1.875em 3em 0.125em -3em #131210, inset 0.5em 0.375em 0.125em -0.375em #131210, inset -2em 2.25em 0.25em -2.75em #131210, inset 3.625em 2.625em 0.25em -3.9em #4D4945, inset 1.875em 3em 0.25em -2.95em #4D4945, inset -1.125em 2.125em 0.375em -2em #4D4945, 0.075em 0.175em 0.2em 0.0125em rgba(0, 0, 0, 0.75), 0.125em 0.1em 0.75em 0.175em rgba(0, 0, 0, 0.35), 0.5em 0.5em 1em 0.25em rgba(0, 0, 0, 0.25), -0.25em 0.5em 1.5em 0.5em rgba(0, 0, 0, 0.1), 0 0 3.5em rgba(238, 162, 66, 0.125), 0.125em 0.125em 0.25em -0.05em rgba(238, 162, 66, 0.75), 0.125em 0.125em 0.75em 0.125em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.5em -0.05em rgba(238, 162, 66, 0.25) !important;
}
.x-body-part.x-chelicerae .x-fang::after {
  left: 5%;
  top: 50%;
}
.x-body-part.x-chelicerae::after {
  left: 25%;
  top: 50%;
}
.x-body-part .x-leg {
  width: calc(17.33em + 2px);
  height: calc(3.73em + 2px);
  left: 70%;
  top: 60%;
  transform-origin: 10% 55%;
}
.x-body-part .x-leg.x-leg--small {
  transform: rotateY(180deg);
}
.x-body-part .x-leg.x-leg--small .x-femur {
  width: calc(310% + 2px);
  transform: rotate(-67.5deg);
}
.x-body-part .x-leg.x-leg--small .x-patella {
  transform: rotate(67.5deg);
}
.x-body-part .x-leg.x-leg--small .x-metatarsus {
  transform: rotate(30deg);
}
.x-body-part .x-leg.x-leg--background {
  width: calc(17.28em + 2px);
  height: calc(3.71em + 2px);
  z-index: -2;
}
.x-body-part .x-leg.x-leg--background.x-pedipalp {
  width: calc(10.64em + 2px);
  height: calc(2.92em + 2px);
}
.x-body-part .x-leg.x-leg--background * {
  background: black !important;
  position: absolute !important;
}
.x-body-part .x-leg-parts {
  background: radial-gradient(circle at 0 0, #150f10 0%, #1e101e 65%, #201520 100%);
  border: 1px dashed rgba(255, 143, 20, 0.25);
  border-radius: 50% 60% 45% 1.75em;
  box-shadow: inset -4px -5px 10px black, inset 3px 2px 7px rgba(255, 143, 20, 0.25), 0 0 4px rgba(255, 143, 20, 0.5);
  height: calc(97.5% + 2px);
  width: calc(100% + 2px);
  left: 95%;
  top: 10%;
  transform-origin: 5% 50%;
  background: radial-gradient(circle at 20% -5%, #FFF 25%, #D8D0CD 29%, #8A847E 35%, #8A847E 42.5%, #4D4945 85%, #3F3F47 100%) !important;
  box-shadow: inset -3em -4.5em 0.175em -5.125em #FFF, inset -4.625em -2.75em 0.175em -5.125em #FFF, inset -4.625em -2.75em 0.125em -5em #D8D0CD, inset -3em -4.5em 0.125em -5em #D8D0CD, inset 2em -2.5em 0.125em -3em #D8D0CD, inset -0.125em -0.175em 0.125em -0.125em #D8D0CD, inset 0 -0.0525em 0.1em -0.0125em #D8D0CD, inset -2em -5.25em 0.25em -5em #131210, inset -3.8em -2.75em 0.25em -4em #131210, inset 1.875em -2.375em 0.175em -2.5em #131210, inset 3.625em 2.625em 0.125em -4em #131210, inset 1.875em 3em 0.125em -3em #131210, inset 0.5em 0.375em 0.125em -0.375em #131210, inset -2em 2.25em 0.25em -2.75em #131210, inset 3.625em 2.625em 0.25em -3.9em #4D4945, inset 1.875em 3em 0.25em -2.95em #4D4945, inset -1.125em 2.125em 0.375em -2em #4D4945, 0.075em 0.175em 0.2em 0.0125em rgba(0, 0, 0, 0.75), 0.125em 0.1em 0.75em 0.175em rgba(0, 0, 0, 0.35), 0.5em 0.5em 1em 0.25em rgba(0, 0, 0, 0.25), -0.25em 0.5em 1.5em 0.5em rgba(0, 0, 0, 0.1), 0 0 3.5em rgba(238, 162, 66, 0.125), 0.125em 0.125em 0.25em -0.05em rgba(238, 162, 66, 0.75), 0.125em 0.125em 0.75em 0.125em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.5em -0.05em rgba(238, 162, 66, 0.25) !important;
}
.x-body-part .x-coxa {
  left: 0;
  top: 0;
  width: calc(30% + 2px);
  border-radius: 50% 30% 50% 60%;
}
.x-body-part .x-coxa::after {
  content: none;
}
.x-body-part .x-femur {
  height: calc(100% + 2px);
  left: 55%;
  top: 0;
  transform: rotate(-80deg);
  transform-origin: 5% 50%;
  width: calc(350% + 2px);
  border-radius: 50% 60% 2em 3em;
}
.x-body-part .x-femur::after {
  left: 5%;
  top: 50%;
}
.x-body-part .x-patella {
  background: linear-gradient(7deg, #2f281e 0%, #403d26 40%, #605b39 65%, #605b39 75%, #403d26 90%, #2f281e 100%) !important;
  transform: rotate(100deg);
  width: calc(45% + 2px);
}
.x-body-part .x-tibia {
  background: linear-gradient(3deg, #2f281e 0%, #605b39 55%, #403d26 70%, #403d26 80%, #605b39 95%);
  height: calc(100% + 2px);
  top: 2.5%;
  left: 80%;
  transform: rotate(15deg);
  width: calc(150% + 2px);
}
.x-body-part .x-metatarsus {
  background: linear-gradient(95deg, #605b39 0%, #2f281e 100%) !important;
  left: 92.5%;
  height: calc(80% + 2px);
  transform: rotate(25deg);
  width: calc(95% + 2px);
}
.x-body-part .x-tarsus {
  border-radius: 2em 0.75em 100% 50%;
  height: calc(65% + 2px);
  left: 95%;
  top: 20%;
  transform: rotate(-10deg);
  width: calc(60% + 2px);
}
.x-body-part .x-leg.leg-1,
.x-body-part .x-leg.leg-5 {
  transform: rotate(30deg);
}
.x-body-part .x-leg.leg-1 .x-femur,
.x-body-part .x-leg.leg-5 .x-femur {
  transform: rotate(-70deg);
}
.x-body-part .x-leg.leg-1 .x-patella,
.x-body-part .x-leg.leg-5 .x-patella {
  transform: rotate(60deg);
}
.x-body-part .x-leg.leg-1 .x-metatarsus,
.x-body-part .x-leg.leg-5 .x-metatarsus {
  transform: rotate(50deg);
}
.x-body-part .x-leg.leg-5 {
  transform: rotate(31deg);
}
.x-body-part .x-leg.leg-2,
.x-body-part .x-leg.leg-6 {
  top: 67.5%;
  left: 45%;
  transform: rotate(16deg);
}
.x-body-part .x-leg.leg-6 {
  transform: rotate(16deg);
}
.x-body-part .x-leg.leg-6 .x-femur {
  transform: rotate(-67.5deg);
}
.x-body-part .x-leg.leg-6 .x-patella {
  transform: rotate(62.5deg);
}
.x-body-part .x-leg.leg-6 .x-metatarsus {
  transform: rotate(85deg);
}
.x-body-part .x-leg.leg-3,
.x-body-part .x-leg.leg-7 {
  top: 70%;
  left: 22.5%;
  transform: rotateY(180deg) rotateZ(10deg);
}
.x-body-part .x-leg.leg-3 .x-femur,
.x-body-part .x-leg.leg-7 .x-femur {
  transform: rotate(-115deg);
}
.x-body-part .x-leg.leg-3 .x-patella,
.x-body-part .x-leg.leg-7 .x-patella {
  transform: rotate(120deg);
}
.x-body-part .x-leg.leg-3 .x-metatarsus,
.x-body-part .x-leg.leg-7 .x-metatarsus {
  transform: rotate(60deg);
}
.x-body-part .x-leg.leg-3 .x-tarsus,
.x-body-part .x-leg.leg-7 .x-tarsus {
  transform: rotate(-35deg);
}
.x-body-part .x-leg.leg-7 {
  transform: rotateY(180deg) rotateZ(5deg);
}
.x-body-part .x-leg.leg-7 .x-femur {
  transform: rotate(-120deg);
}
.x-body-part .x-leg.leg-7 .x-patella {
  transform: rotate(118deg);
}
.x-body-part .x-leg.leg-7 .x-metatarsus {
  transform: rotate(40deg);
}
.x-body-part .x-leg.leg-4,
.x-body-part .x-leg.leg-8 {
  top: 75%;
  left: 5%;
  transform: rotateY(180deg) rotateZ(4deg);
}
.x-body-part .x-leg.leg-8 {
  transform: rotateY(180deg) rotateZ(4deg);
}
.x-body-part .x-leg.leg-8 .x-femur {
  transform: rotate(-85deg);
}
.x-body-part .x-leg.leg-8 .x-patella {
  transform: rotate(92deg);
}
.x-body-part .x-leg.leg-8 .x-metatarsus {
  transform: rotate(15deg);
}
.x-body-part .x-leg.leg-8 .x-tarsus {
  transform: rotate(-20deg);
}
.x-body-part .x-pedipalp {
  left: 95%;
  top: 60%;
  transform: rotate(70deg);
  width: calc(10.67em + 2px);
  height: calc(2.93em + 2px);
}
.x-body-part .x-pedipalp .x-leg-parts {
  border-radius: 40% 50% 35% 25%;
}
.x-body-part .x-pedipalp .x-femur {
  transform: rotate(-90deg);
}
.x-body-part .x-pedipalp .x-patella {
  transform: rotate(87.5deg);
  height: 95%;
}
.x-body-part .x-pedipalp .x-tibia {
  top: -5%;
}
.x-body-part .x-pedipalp .x-metatarsus {
  transform: rotate(55deg);
  width: calc(65% + 2px);
  height: calc(70% + 2px);
  border-radius: 1em 50% 80% 30%;
}
.x-body-part .pedipalp-2 {
  transform: rotate(48deg);
}
.x-body-part .pedipalp-2 .x-femur {
  transform: rotate(-70deg);
}
.x-body-part .pedipalp-2 .x-patella {
  transform: rotate(110deg);
}
.x-body-part .pedipalp-2 .x-metatarsus {
  transform: rotate(60deg);
}

body {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
